<% 
    var book = page.context.book;
    var chapter = page.context.chapter;
    var heading = page.context.section || chapter;
%>

<%# Chapter Title %>
<heading class="row major">

  <h2 class="col-md-6 col-sm-12 fs-4 title" lang="en"><a href="/<%=chapter.path%>">
    <%- chapter.h1 %>. <span class="_e" data-id="<%= chapter.id %>" data-prop="toc.title_en" data-arabizi="true">
      <%- chapter.title_en || 'Chapter' %>
    </span>
    <% if (heading.page.hasNext || heading.page.number && heading.page.number > 1) { %>
    (<%- heading.page.number %>/<%- Math.ceil(chapter.count/global.settings.search.itemsPerPage)%>)
    <% } %>
  </a></h2>
  
  <h2 class="col-md-6 col-sm-12 fs-4 title" lang="ar"><a href="/<%=chapter.path%>">
    <%- arabic.toArabicDigits(chapter.h1 + '') %>۔
    <span class="_e" data-id="<%= chapter.id %>" data-prop="toc.title">
      <%- chapter.title %>
    </span>
    <%- (heading.page.hasNext || heading.page.number && heading.page.number > 1) ? `ص ${arabic.toArabicDigits(heading.page.number+'')}` : `` %>
  </a></h2>

</heading>

<%# Chapter Breadcrumbs %>
<section class="row breadcrumbs pagination">

  <div class="col-md-6 col-sm-12" lang="en">
    <a title="<%- book.name_en %>" href="/<%=book.alias%>"><%- book.shortName_en %></a>
    &gt;
    <% if (heading.level == 1) { %>
      <span title="<%- chapter.title %>">Chapter <%- chapter.h1 %></span>
    <% } else if (heading.level == 2) { %>
      <a title="<%- chapter.title_en || 'Chapter' %>" href="/<%=chapter.path%>">Chapter <%- chapter.h1 %></a>
      &gt;
      <span title="<%- section.title %>">Section <%- section.h2 %></span>
    <% } %>
  </div>

  <div class="col-md-6 col-sm-12" lang="ar">
    <a title="<%- book.name %>" href="/<%=book.alias%>"><%- book.shortName %></a>
    &gt;
    <% if (heading.level == 1) { %>
      <span title="<%- chapter.title %>">كتاب <%- arabic.toArabicDigits(chapter.h1) %></span>
    <% } else if (heading.level == 2) { %>
      <a title="<%- chapter.title %>" href="/<%=chapter.path%>">كتاب <%- arabic.toArabicDigits(chapter.h1) %></a>
      &gt;
      <span title="<%- section.title %>">باب <%- arabic.toArabicDigits(section.h2) %></span>
    <% } %>
  </div>

</section>

<%# Chapter Intro %>
<% if (heading.offset == 0) { %>
<section class="chapter-intro row">

  <section class="_e col-md-6 col-sm-12 intro" lang="en" data-id="<%= chapter.id %>" data-prop="intro_en" data-arabizi="true">
    <% if (chapter.intro_en) { %>
    <p>
      <%- utils.emptyIfNull(chapter.intro_en).replace(/\n/g, '</p><p>') %>
    </p>
    <% } else if (site.editMode) { %>
    <p>&hellip;</p>
    <% } %>
  </section>

  <section class="_e col-md-6 col-sm-12 intro" lang="ar" data-id="<%= chapter.id %>" data-prop="intro">
    <% if (chapter.intro) { %>
    <p>
      <%- utils.emptyIfNull(chapter.intro).replace(/\n/g, '</p><p>') %>
    </p>
    <% } else if (site.editMode) { %>
    <p>&hellip;</p>
    <% } %>
    </section>

</section>
<% } %>