<% 
	var publicLink = 'https://forms.gle/xPgw7eH1akjp3PPj9';
	var adminLink = `/admin/hadiths/${hadith.id}`;
	var editLink = publicLink;
	if (req.cookies.admin == 'b8dff5ea-bd35-459d-9481-0c2f0b287a9c')
		editLink = adminLink;
	if (hadith.chapter)
		hadith.chapter.offset = Math.floor(hadith.numInChapter / global.MAX_PER_PAGE) * global.MAX_PER_PAGE;
%>

<div class="col-12 h" lang="en">
	<% if (hadith.title_en) { %>
		<h4 class="fs-5"><%- hadith.title_en %></h4>
	<% } %>
</div>
		
<% if (hadith.remark != 2) { %>
<div class="col-md-6 col-sm-12 h" lang="en">
	<p>
		<%- (typeof rating !== 'undefined') ? `<span class="bi bi-reception-${rating}"></span>` : '' %>
		<%- hadith.verified ? `<span title="Verified Translation" class="bi bi-patch-check-fill"></span>` : '' %>
		<%- (hadith.numVirtual) ? `(${hadith.numVirtual})` : "" %>
		<b><a title="<%-hadith.id + ' (' + hadith.score + ')'%>" href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName_en} ${hadith.num}` %></a></b> –
		<% if (hadith.chain_en) { %>
			<span class="chain"><%- utils.emptyIfNull(hadith.chain_en) %></span>
		<% } %>
	</p>
	<p class="body">
		<% if (!hadith.body_en) { %>
			<div class="cmd-tr">
				<br />
				<a href="<%- `/do/${hadith.id}?cmd=tr` %>" onclick="alert('Thanks! We\'re on it!');">Request/Fix</a> translation<br/>
				<a target="_blank" href="https://forms.gle/xPgw7eH1akjp3PPj9">Submit</a> a translation<br />
			</div>
		<% } %>
		<%- utils.emptyIfNull(hadith.body_en).replace(/\n/g, '</p><p class="body">') || utils.emptyIfNull(hadith.text_en) %><br/>
	</p>
	<% if (hadith.footnote_en) { %>
		<p class="footnote">
			<%- utils.emptyIfNull(hadith.footnote_en) %><br/>
		</p>
	<% } %>
	<em class="grade">– <%- hadith.grade.grade_en %>&nbsp;(<%- hadith.grader.shortName_en %>)</em>
	<% if ((title || hadith.numVirtual) && (hadith.chapter || hadith.section)) { %>
		<div class="title">
		§ 
		<% if (hadith.section) { %>
			<a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}?o=${hadith.chapter.offset}#${hadith.num}` %>" title="<%- hadith.section.title_en %>"><%- utils.truncate(hadith.section.title_en, 30, true) || 'Section' %></a>
		<% } %>
		<% if (hadith.chapter) { %>
			in <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}` %>" title="<%- hadith.chapter.title_en %>"><%- utils.truncate(hadith.chapter.title_en, 30, true) || 'Chapter' %></a>
		<% } %>
		<a class="cmd-btn" target="_blank" href="<%- editLink %>"><span class="bi bi-pencil"></span></a>&nbsp;<a
		   class="cmd-btn" title="Report an issue" href="<%- `/do/${hadith.id}?cmd=tr` %>" onclick="alert('Thanks! We\'re on it!');"><span class="bi bi-bug"></span></a>
		</div>
	<% } else { %>
		<a class="cmd-btn" target="_blank" href="<%- editLink %>"><span class="bi bi-pencil"></span></a>&nbsp;<a
		   class="cmd-btn" title="Report an issue" href="<%- `/do/${hadith.id}?cmd=tr` %>" onclick="alert('Thanks! We\'re on it!');"><span class="bi bi-bug"></span></a>
	<% } %>
</div>
<div class="col-md-6 cols-sm-12 h" lang="ar">
	<p>
		<%- (hadith.numVirtual) ? `(${arabic.toArabicDigits(hadith.numVirtual+'')})` : "" %>
		<b><a title="<%-hadith.num0%>" href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= hadith.book.shortName %> <%= hadith.num_ar %></a></b> –
		<% if (hadith.chain) { %>
			<span class="chain"><%- utils.emptyIfNull(hadith.chain) %></span>
		<% } %>
	</p>
	<p class="body">
		<%- utils.emptyIfNull(hadith.body).replace(/\n/g, '</p><p class="body">') %><br />
	</p>
	<% if (hadith.footnote) { %>
		<p class="footnote">
		<%- utils.emptyIfNull(hadith.footnote) %><br/>
		</p>
	<%  } %>
	<% if (hadith.grade.id != -1) { %>
	<em class="grade">– <%- hadith.grade.grade %>&nbsp;(<%- hadith.grader.shortName %>)</em>
	<%  } %>
	<% if ((title || hadith.numVirtual) && (hadith.chapter || hadith.section)) { %>
		<div class="title">
		§ 
		<% if (hadith.section) { %>
			<a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}?o=${hadith.chapter.offset}#${hadith.num}` %>" title="<%- hadith.section.title %>"><%- utils.truncate(hadith.section.title, 60, true) || 'بَاب' %></a>
		<% } %>
		<% if (hadith.chapter) { %>
			في <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}` %>" title="<%- hadith.chapter.title %>"><%- utils.truncate(hadith.chapter.title, 60, true) || 'كِتَاب' %></a>
		<% } %>
		</div>
	<% } %>
</div>

<% } else { %>

<div class="col-md-6 col-sm-12 h" lang="en">
	<h3>Title<%- hadith.title_en %></h3>
	<% if (hadith.chain_en) { %>
		<p>
			<%- (typeof rating !== 'undefined') ? `<span class="bi bi-reception-${rating}"></span>` : '' %>
			<b><a href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName_en} ${hadith.num}` %></a></b> –
			<span class="chain"><%- hadith.chain_en %></span>
		</p>
		<p class="body">
			<%- (hadith.body_en+'').replace(/\n/g, '</p><p class="body">') %><br />
		</p>
	<% } else { %>
		<p>
			<%- (typeof rating !== 'undefined') ? `<span class="bi bi-reception-${rating}"></span>` : '' %>
			<b><a href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName_en} ${hadith.num}` %></a></b> –
			<span class="chain"><%- hadith.chain_en %></span>
			<%- (hadith.body_en+'').replace(/\n/g, '</p><p class="body">') %>
			<a class="cmd-btn" target="_blank" href="<%- editLink %>"><span class="bi bi-pencil"></span></a>&nbsp;<a
			   class="cmd-btn" title="Report an issue" href="<%- `/do/${hadith.id}?cmd=tr` %>" onclick="alert('Thanks! We\'re on it!');"><span class="bi bi-bug"></span></a>
			<br />
		</p>
	<% } %>
	<% if (hadith.footnote_en) { %>
		<p class="footnote">
			<%- hadith.footnote_en %><br/>
		</p>
	<% } %>
	<% if (title || hadith.numVirtual) { %>
		<div class="title">
			§ <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}?o=${hadith.chapter.offset}#${hadith.num}` %>" title="<%- hadith.section.title_en %>"><%- utils.truncate(hadith.section.title_en, 30, true) || 'Section' %></a>
			in <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}` %>" title="<%- hadith.chapter.title_en %>"><%- utils.truncate(hadith.chapter.title_en, 30, true) || 'Chapter' %></a>
		</div>
	<% } %>
</div>
<div class="col-md-6 cols-sm-12 h" lang="ar">
	<% if (hadith.chain) { %>
		<p>
			<b><a href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName} ${hadith.num_ar}` %></a></b> –
			<span class="chain"><%- hadith.chain %></span>
		</p>
		<p class="body">
			<%- (hadith.body+'').replace(/\n/g, '</p><p class="body">') %>&nbsp;۝<br />
		</p>
	<% } else { %>
		<p>
			<b><a href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName} ${hadith.num_ar}` %></a></b> –
			<span class="chain"><%- hadith.chain %></span>
			<%- (hadith.body+'').replace(/\n/g, '</p><p class="body">') %>&nbsp;۝<br />
		</p>
	<% } %>
	<% if (hadith.footnote) { %>
		<p class="footnote">
		<%- hadith.footnote %><br/>
		</p>
	<%  } %>
	<% if (title || hadith.numVirtual) { %>
		<div class="title">
			§ <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}?o=${hadith.chapter.offset}#${hadith.num}` %>" title="<%- hadith.section.title %>"><%- utils.truncate(hadith.section.title, 60, true) || 'بَاب' %></a>
			في <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}` %>" title="<%- hadith.chapter.title %>"><%- utils.truncate(hadith.chapter.title, 60, true) || 'كِتَاب' %></a>
		</div>
	<% } %>
</div>

<% } %>

<% if (title) { %>
	<hr class="mt-2" />
<% } else { %>
	<div class="mt-2"></div>
<% } %>
