<%
	i.en.narrators = utils.emptyIfNull(i.en.chain).split(/(>|&gt;)/);
	i.en.narrator = i.en.narrators.pop().trim();
	i.ar.narrator = ''; // Arabic.toArabic(i.en.narrator);
%>
<aside class="h modal fade" id="H<%= i.id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <header class="modal-header">
		<h1 class="modal-title fs-5" contenteditable="true"><%= i.en.title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </header>
      <section class="modal-body">
		<% if (i.en.body) { %>
        <p>
			<div class="text-muted">
				<%= i.en.book_shortName.toUpperCase() %> <%= i.en.num %>:
				<% if (i.remark === 0 && i.en.narrator) { %>
					from <em contenteditable="true"><%= i.en.narrator %></em> —
				<% } %>
			</div>
			<div class="body" lang="en" contenteditable="true">
				<%- utils.emptyIfNull(i.en.body).replace(/\n/g, '</p><p>') %>
			</div>
		</p>
		<% } %>
        <p class="mt-2">
			<div class="body" lang="ar" contenteditable="true">
				<%= i.ar.num %> — <%- utils.emptyIfNull(i.ar.body).replace(/\n/g, '</p><p>') %>
			</div>
		</p>
		<div class="text-muted">
			<small>//hadithunlocked.com</small>
		</div>
	  </section>
      <footer class="modal-footer hanging-indent">
		<% if (i.remark === 0) { %>
			<div class="grade">
				<span contenteditable="true"><%= i.en.grade_grade %></span>&nbsp;(<span title="<%= i.en.grader_name %>" contenteditable="true"><%= i.en.grader_shortName %></span>)
			</div>
		<% } %>
		<div class="title" contenteditable="true">
			<%= i.book_shortName_en %>
			<% if (i.chapter) { %>
				&gt;
				<%- utils.truncate(i.en.h1_title, 60, true) || 'Chapter' %></a>
			<% } %>
			<% if (i.section) { %>
				&gt;
				§&nbsp;<%- utils.truncate(i.en.h2_title, 60, true) || 'Section' %></a>
			<% } %>
		</div>
	  </footer>
    </div>
  </div>
</aside>