<% if (site.editMode) { %>
	<div class="col-12" lang="ar">
		<h4 class="fs-5" title="Ḥadīth Group"><strong>مجموعة: <span class="_e" data-id="<%= i.actual ? i.actual.id : i.id %>" data-prop="hadith.part"><%- i.part || `&hellip;` %></span></strong></h4>
	</div>
<% } %>

<%# Title  ............................................................. %>
<% if (i.en.title || site.editMode) { %>
	<div class="col-12" lang="en">
		<h4 class="_e fs-5" title="Ḥadīth Title" data-id="<%= i.actual ? i.actual.id : i.id %>" data-prop="hadith.title_en" data-arabizi="true"><%- i.en.title || `&hellip;` %></h4>
	</div>
<% } %>
<% if (i.ar.title || site.editMode) { %>
	<div class="col-12" lang="ar">
		<h4 class="_e fs-5" title="ذكر الحديث" data-id="<%= i.actual ? i.actual.id : i.id %>" data-prop="hadith.title"><strong><%- i.ar.title || `&hellip;` %></strong></h4>
	</div>
<% } %>

<%- include('hadith_item.ejs', { site: site, page: page, i: i, lang: 'en', main: main, title: title, searchResult: searchResult }); %>

<%- include('hadith_item.ejs', { site: site, page: page, i: i, lang: 'ar', main: main, title: title, searchResult: searchResult }); %>

<%# Telegram Comments %>
<% if (i.single) { %>
	<a href="#discuss"></a>
	<div class="row">
		<div class="col-12">
			<script async src="https://comments.app/js/widget.js?3" data-comments-app-website="rOdWjWWp" data-limit="5" data-dislikes="1" data-outlined="1"></script>
		</div>
	</div>
	<script>
		window.focus()
		window.addEventListener("blur", () => {
			setTimeout(async () => {
				if (document.activeElement.tagName === "IFRAME") {
					// console.log('commenting on <%= i.ref %>');
					await fetch('<%= site.url %>/do/<%= i.id %>?cmd=comment');
				}
		});
		}, { once: true });
	</script>
<% } %>