<% 
	hashtag = (hadith.book.alias + '_' + hadith.num).replace(/[-\:]/, '_');
	var _p = searchResult ? 'partial' : '';
%>

<% if (site.editMode) { %>
	<div class="col-12" lang="ar">
		<h4 class="fs-5" title="Ḥadīth Group"><strong>مجموعة: <span class="_e" data-id="<%= hadith.id %>" data-prop="hadith.part"><%- hadith.part || `&hellip;` %></span></strong></h4>
	</div>
<% } %>
<% if (hadith.title_en || site.editMode) { %>
	<div class="col-12" lang="en">
		<h4 class="_e fs-5" title="Ḥadīth Title" data-id="<%= hadith.id %>" data-prop="hadith.title_en"><%- hadith.title_en || `&hellip;` %></h4>
	</div>
<% } %>
<% if (hadith.title || site.editMode) { %>
	<div class="col-12" lang="ar">
		<h4 class="_e fs-5" title="ذكر الحديث" data-id="<%= hadith.id %>" data-prop="hadith.title"><strong><%- hadith.title || `&hellip;` %></strong></h4>
	</div>
<% } %>
		
<% if (hadith.remark != 2) { %>

<!-- English Hadith ----------------------------------------- -->

<div class="col-md-6 col-sm-12 h" lang="en">
	<p>
		<%- (typeof rating !== 'undefined') ? `<span class="bi bi-reception-${rating}"></span>` : '' %>

		<% if (site.editMode) { %>
			<input class="_e form-check-input" title="Verified" type="checkbox" <%- hadith.verified ? 'checked' : '' %> data-id="<%= hadith.id %>" data-prop="hadith.verified">
		<% } else { %>
			<%- hadith.verified ? `<span title="Verified Translation" class="bi bi-patch-check-fill"></span>` : '' %>
		<% } %>

		<% if (site.editMode) { 
			var hlDate = null;
			if (hadith.highlight)
				hlDate = `${hadith.highlight.getFullYear()}-${hadith.highlight.getMonth()+1}-${hadith.highlight.getDate()}`; %>
			<span class="_e form-input" style="width:100px;" title="Hightlight Date" type="text" data-id="<%= hadith.id %>" data-prop="hadith.highlight">
				<%- hlDate || '&hellip;' %>
			</span>
		<% } %>

		<% if (hadith.numVirtual) { %>
			(<span class="_e" title="Virtual Num" data-id="<%=hadith.id%>" data-prop="hadith_virtual.num"><%- (hadith.numVirtual) ? `${hadith.numVirtual}` : '' %></span>)
		<% } %>
		<% if (site.editMode && hadith.numVirtual) { %>
			(<span class="_e" title="Virtual Num0" data-id="<%=hadith.id%>" data-prop="hadith_virtual.num0"><%- hadith.num0Virtual || '&hellip;' %></span>)
		<% } %>

		<b><a title="<%-hadith.id%>" href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName_en} ${hadith.num}` %></a></b> –
		<% if (hadith.chain_en || site.editMode) { %>
			<span class="_e chain <%=_p%>" title="Ḥadīth Chain" data-id="<%= hadith.id %>" data-prop="hadith.chain_en"><%- hadith.chain_en || `&hellip;` %></span>
		<% } %>
	</p>
	<div class="_e body <%=_p%>" title="Ḥadīth Body" data-id="<%= hadith.id %>" data-prop="hadith.body_en">
		<% if (!hadith.body_en) { %>
			<div class="cmd-tr">
				<br />
				<a href="<%- `/do/${hadith.id}?cmd=tr` %>" onclick="alert('Thanks! We\'re on it!');">Request/Fix</a> translation<br/>
				<a target="_blank" href="https://forms.gle/xPgw7eH1akjp3PPj9">Submit</a> a translation<br />
			</div>
		<% } %>
		<p><%- utils.emptyIfNull(hadith.body_en).replace(/\n/g, '</p><p>') || utils.emptyIfNull(hadith.text_en) %></p>
	</div>
	<% if (hadith.footnote_en || site.editMode) { %>
		<div class="_e footnote <%=_p%>" title="Ḥadīth Footnote" data-id="<%= hadith.id %>" data-prop="hadith.footnote_en">
			<%- hadith.footnote_en || '&hellip;' %>
		</div>
	<% } %>
	<em class="grade">
		<% if (site.editMode) { %>
		<select dir="rtl" class="_e" data-id="<%= hadith.id %>" data-prop="hadith.gradeId">
			<% global.grades.forEach(function (grade) { %>
				<option value="<%=grade.id%>" <%=(grade.id == hadith.grade.id) ? 'selected' :''%>><%=grade.grade%></option>
			<% }); %>
		</select> 
		(<select class="_e" data-id="<%= hadith.id %>" data-prop="hadith.graderId">
			<% global.graders.forEach(function (grader) { %>
				<option value="<%=grader.id%>" <%=(grader.id == hadith.grader.id) ? 'selected' :''%>><%=grader.shortName_en%></option>
			<% }); %>
		</select>)
		<% } else { %>
		– <span><%- hadith.grade.grade_en %></span>&nbsp;(<span title="<%=hadith.grader.name_en%>"><%- hadith.grader.shortName_en %></span>)
		<% } %>
	</em>
	<% if ((title || hadith.numVirtual) && (hadith.chapter || hadith.section)) { %>
		<div class="title">
		§ 
		<% if (hadith.section) { %>
			<a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}${hadith.chapter.offset}#S${hadith.section.h2}` %>" title="<%= hadith.section.title_en %>"><%- utils.truncate(hadith.section.title_en, 30, true) || 'Section' %></a>
		<% } %>
		<% if (hadith.chapter) { %>
			in <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}` %>" title="<%= hadith.chapter.title_en %>"><%- utils.truncate(hadith.chapter.title_en, 30, true) || 'Chapter' %></a>
		<% } %>
		<a class="cmd-btn" title="Report an issue" href="<%- `/do/${hadith.id}?cmd=tr` %>" onclick="alert('Thanks! We\'re on it!');"><span class="bi bi-bug"></span></a>
		</div>
	<% } else { %>
		<a class="cmd-btn" title="Report an issue" href="<%- `/do/${hadith.id}?cmd=tr` %>" onclick="alert('Thanks! We\'re on it!');"><span class="bi bi-bug"></span></a>
	<% } %>
	<% if (hadith.tags || site.editMode) {
		var tags = null;
		if (hadith.tags)
			tags = hadith.tags.replace(/[{}]/g, '');
		%>
		<div class="tags">
			<% if (site.editMode) { %>
				<textarea class="_e d-inline-block w-100" placeholder="#hashtag" data-id="<%= hadith.id %>" data-prop="hadith.tags"><%= tags %></textarea>
			<% } else {
				tags = tags.split(/ +/).map(tag => {
				return `<a href="/tag/${tag}">${tag}</a>`;
				});
				tags = tags.join(' ');
			%>
				# <%- tags %>
			<% } %>
			</div>
	<% } %>
	<% if (site.editMode && hadith.parentId) { %>
		<div>
			<span class="bi bi-trash"></span>&nbsp;<a class="_click" title="Remove Association" data-id="<%= hadith.parentId %>,<%= hadith.id %>" data-prop="hadiths_sim.del">Remove</a>
		</div>
	<% } %>
	<% if (site.editMode && hadith.numVirtual) { %>
		<div>
			<span class="bi bi-trash"></span>&nbsp;<a class="_click" title="Delete" data-id="<%= hadith.idVirtual %>" data-prop="hadith_virtual.del">Delete</a>
			|
			<span class="bi bi-file-plus"></span>&nbsp;<input class="_e" title="Ref Num" data-id="<%= hadith.idVirtual %>" data-prop="hadith_virtual.add">
		</div>
	<% } %>
	<% if (main && !site.editMode) { %>
		<div>
			<a href="https://twitter.com/intent/tweet?button_hashtag=<%=hashtag%>" class="twitter-hashtag-button" data-text="<%=hadith.title_en%>" data-hashtags="hadith,HadithoftheDay" data-size="I" data-show-count="true" data-url="https://hadith.quranunlocked.com/<%=hadith.book.alias%>:<%=hadith.num%>">Tweet #<%=hashtag%></a>
		</div>
	<% } %>
</div>

<!-- Arabic Hadith ----------------------------------------- -->

<div class="col-md-6 cols-sm-12 h" lang="ar">
	<p>
		<%- (hadith.numVirtual) ? `(${arabic.toArabicDigits(hadith.numVirtual+'')})` : "" %>
		<b><a title="<%-hadith.num0%>" href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= hadith.book.shortName %> <%= hadith.num_ar %></a></b> –
		<% if (hadith.chain || site.editMode) { %>
			<span class="_e chain <%=_p%>" data-id="<%= hadith.id %>" data-prop="hadith.chain"><%- hadith.chain || '&hellip;' %></span>
		<% } %>
	</p>
	<div class="_e body <%=_p%>" data-id="<%= hadith.id %>" data-prop="hadith.body">
		<%- utils.emptyIfNull(hadith.body).replace(/\n/g, '</p><p>') %>
	</div>
	<% if (hadith.footnote || site.editMode) { %>
		<div class="_e footnote <%=_p%>" data-id="<%= hadith.id %>" data-prop="hadith.footnote">
		<%- hadith.footnote || '&hellip;' %><br/>
		</div>
	<%  } %>
	<% if (hadith.grade.id != -1) { %>
	<em class="grade">– <%- hadith.grade.grade %>&nbsp;(<span title="<%= hadith.grader.name %>"><%- hadith.grader.shortName %></span>)</em>
	<%  } %>
	<% if ((title || hadith.numVirtual) && (hadith.chapter || hadith.section)) { %>
		<div class="title">
		§ 
		<% if (hadith.section) { %>
			<a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}${hadith.chapter.offset}#S${hadith.section.h2}` %>" title="<%= hadith.section.title %>"><%- utils.truncate(hadith.section.title, 60, true) || 'بَاب' %></a>
		<% } %>
		<% if (hadith.chapter) { %>
			في <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}` %>" title="<%- hadith.chapter.title %>"><%- utils.truncate(hadith.chapter.title, 60, true) || 'كِتَاب' %></a>
		<% } %>
		</div>
	<% } %>
</div>

<% } else { %>

<!-- English Quran ----------------------------------------- -->

<div class="col-md-6 col-sm-12 h" lang="en">
	<% if (hadith.chain_en) { %>
		<p>
			<%- (typeof rating !== 'undefined') ? `<span class="bi bi-reception-${rating}"></span>` : '' %>
			<b><a href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName_en} ${hadith.num}` %></a></b> –
			<span class="_e chain" data-id="<%=hadith.id%>" data-prop="hadith.chain_en"><%- hadith.chain_en %></span>
		</p>
		<div class="_e body" data-id="<%=hadith.id%>" data-prop="hadith.body_en">
			<p><%- (hadith.body_en+'').replace(/\n/g, '</p><p>') %></p>
		</div>
	<% } else { %>
		<div>
			<%- (typeof rating !== 'undefined') ? `<span class="bi bi-reception-${rating}"></span>` : '' %>
			<b><a href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName_en} ${hadith.num}` %></a></b> –
			<span class="_e chain" data-id="<%=hadith.id%>" data-prop="hadith.chain_en"><%- hadith.chain_en %></span>
			<span class="_e" data-id="<%=hadith.id%>" data-prop="hadith.body_en"><%- (hadith.body_en+'') %></span>
			<a class="cmd-btn" title="Report an issue" href="<%- `/do/${hadith.id}?cmd=tr` %>" onclick="alert('Thanks! We\'re on it!');"><span class="bi bi-bug"></span></a>
			<br />
		</div>
	<% } %>
	<% if (hadith.footnote_en || site.editMode) { %>
		<div class="_e footnote <%=_p%>" data-id="<%= hadith.id %>" data-prop="hadith.footnote_en">
			<%- hadith.footnote_en || '&hellip;' %>
		</div>
	<% } %>
	<% if (title || hadith.numVirtual) { %>
		<div class="title">
			§ <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}${hadith.chapter.offset}#S${hadith.section.h2}` %>" title="<%- hadith.section.title_en %>"><%- utils.truncate(hadith.section.title_en, 30, true) || 'Section' %></a>
			in <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}` %>" title="<%- hadith.chapter.title_en %>"><%- utils.truncate(hadith.chapter.title_en, 30, true) || 'Chapter' %></a>
		</div>
	<% } %>
	<% if (hadith.tags || site.editMode) {
		var tags = null;
		if (hadith.tags) {
			tags = hadith.tags.replace(/[{}]/g, '');
			tags = tags.split(/ +/).map(tag => {
				return `<a href="/tag/${tag}">${tag}</a>`;
			});
			tags = tags.join(' ');
		}
		%>
		<div class="tags">
			# <span class="_e" data-id="<%= hadith.id %>" data-prop="hadith.tags"><%- tags || '&hellip;' %></span>
		</div>
	<% } %>
	<% if (main) { %>
		<div>
			<a href="https://twitter.com/intent/tweet?button_hashtag=<%=hashtag%>" class="twitter-hashtag-button" data-text="<%=hadith.title_en%>" data-hashtags="hadith" data-size="I" data-show-count="true" data-url="https://hadith.quranunlocked.com/<%=hadith.book.alias%>:<%=hadith.num%>">Tweet #<%=hashtag%></a>
		</div>
	<% } %>
</div>

<!-- Arabic Quran ----------------------------------------- -->

<div class="col-md-6 cols-sm-12 h" lang="ar">
	<% if (hadith.chain) { %>
		<p>
			<b><a href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName} ${hadith.num_ar}` %></a></b> –
			<span class="chain"><%- hadith.chain %></span>
		</p>
		<p class="body">
			<%- (hadith.body+'').replace(/\n/g, '</p><p class="body">') %>&nbsp;۝<br />
		</p>
	<% } else { %>
		<p>
			<b><a href="/<%=hadith.book.alias%>:<%=hadith.num%>"><%= `${hadith.book.shortName} ${hadith.num_ar}` %></a></b> –
			<span class="chain"><%- hadith.chain %></span>
			<%- (hadith.body+'').replace(/\n/g, '</p><p class="body">') %>&nbsp;۝<br />
		</p>
	<% } %>
	<% if (hadith.footnote) { %>
		<p class="footnote <%=_p%>">
		<%- hadith.footnote %><br/>
		</p>
	<%  } %>
	<% if (title || hadith.numVirtual) { %>
		<div class="title">
			§ <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}${hadith.chapter.offset}#S${hadith.section.h2}` %>" title="<%- hadith.section.title %>"><%- utils.truncate(hadith.section.title, 60, true) || 'بَاب' %></a>
			في <a href="/<%- `${hadith.book.alias}/${hadith.chapter.h1}` %>" title="<%- hadith.chapter.title %>"><%- utils.truncate(hadith.chapter.title, 60, true) || 'كِتَاب' %></a>
		</div>
	<% } %>
</div>

<% } %>

<% if (title) { %>
	<hr class="mt-2" />
<% } else { %>
	<div class="mt-2"></div>
<% } %>
