<title><%= page.title_en %></title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link href="/stylesheets/style.css" rel="stylesheet">

<link rel="image_src" href="<%= site.logo %>" />
<link rel="apple-touch-icon" href="<%= site.logo %>" />
<link rel="icon" href="<%= site.logo %>" />
<link rel="icon" href="/favicon.ico" />

<link rel="canonical" href="<%= page.canonical %>" />
<% 	if (page) {
		if (page.prev) { %>
<link rel="prev" href="<%= page.prev %>" />
<% 		}
		if (page.next) { %>
<link rel="next" href="<%= page.next %>" />
<% 		}
	} %>

<meta name="og:site_name" content="<%= site.name %>">
<meta name="og:locale" content="en">
<meta name="og:image" content="<%= site.logo %>">
<meta name="og:url" content="<%= page.canonical %>">
<meta name="og:title" content="<%= page.title_en %>">
<meta name="og:description" content="<%= page.subtitle_en %>">

<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="<%= site.logo %>">
<meta name="twitter:title" content="<%= page.title_en %>">
<meta name="twitter:description" content="<%= page.subtitle_en %>">

<script type="application/ld+json">
  {
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "<%= site.name %>",
	"url": "<%= site.url %>",
	"logo": "<%= site.logo %>"
  }
</script>
<script type="application/ld+json">
  {
	"@context": "http://schema.org",
	"@type": "WebSite",
	"name": "<%= site.name %> Search Action",
	"url": "<%= site.url %>",
	"potentialAction": {
	  "@type": "SearchAction",
	  "target": "<%= site.url %>/?q={search_term_string}",
	  "query-input": "required name=search_term_string"
	}
  }
</script>

<% if (typeof context.book !== 'undefined') { %>
<script type="application/ld+json">
  {
	"@context": "http://schema.org",
	"@type": "Book",
	"name": "<%= context.book.name_en %>",
	"inLanguage": "English",
	"url" : "<%= `${site.url}/${context.book.alias}` %>"
  }
</script>
<script type="application/ld+json">
  {
	"@context": "http://schema.org",
	"@type": "Book",
	"name": "<%= context.book.name %>",
	"inLanguage": "Arabic",
	"url" : "<%= `${site.url}/${context.book.alias}` %>"
  }
</script>
<% } %>

<% if (typeof context.book !== 'undefined' && typeof context.chapter !== 'undefined') { %>
<script type="application/ld+json">
  {
	"@context": "http://schema.org",
	"@type": "Chapter",
	"name": "<%= `Chapter ${context.chapter.h1}: ${context.chapter.title_en || ''}` %>",
	"alternateName": "<%= `${context.book.shortName}، ${arabic.toArabicDigits(context.chapter.h1 + '')}- ${context.chapter.title || ''}` %>",
	"pageStart": "<%= context.chapter.start0 %>",
	"url": "<%= page.canonical %>",
	"schema:isPartOf": {
	  "@id": "<%= `${site.url}/${context.book.alias}` %>"
	}
  }
</script>
<% } %>

<% if (typeof context.book !== 'undefined' && typeof context.chapter !== 'undefined' && 
	   typeof context.section !== 'undefined') { %>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"name": "Books &gt; <%= context.book.name_en %> &gt; Chapter <%= context.chapter.h1 %>  &gt; Section <%= context.section.h2 %>",
		"itemListElement": [
		{
		"@type": "ListItem",
		"position": 1,
		"name": "Books",
		"item": "<%- `${site.url}/books` %>"
		},
		{
		"@type": "ListItem",
		"position": 2,
		"name": "<%- context.book.name_en %>",
		"item": "<%- `${site.url}/${context.book.alias}` %>"
		},
		{
		"@type": "ListItem",
		"position": 3,
		"name": "<%= `${context.chapter.h1}. ${context.chapter.title_en || 'Chapter'}` %>",
		"item": "<%= `${site.url}/${context.book.alias}/${context.chapter.h1}` %>"
		},
		{
		"@type": "ListItem",
		"position": 4,
		"name": "<%= `${context.section.h2}. ${context.section.title_en || 'Section'}` %>",
		"item": "<%= `${site.url}/${context.book.alias}/${context.chapter.h1}#S${context.section.h2}` %>"
		}]
	}
	</script>
<% } else if (typeof context.book !== 'undefined' && typeof context.chapter !== 'undefined') { %>
<script type="application/ld+json">
  {
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"name": "Books &gt; <%= context.book.name_en %> &gt; Chapter <%= context.chapter.h1 %>",
	"itemListElement": [
	{
	  "@type": "ListItem",
	  "position": 1,
	  "name": "Books",
	  "item": "<%- `${site.url}/books` %>"
	},
	{
	  "@type": "ListItem",
	  "position": 2,
	  "name": "<%= context.book.name_en %>",
	  "item": "<%= `${site.url}/${context.book.alias}` %>"
	},
	{
	  "@type": "ListItem",
	  "position": 3,
	  "name": "<%= `${context.chapter.h1}. ${context.chapter.title_en || 'Chapter'}` %>",
	  "item": "<%= `${site.url}/${context.book.alias}/${context.chapter.h1}` %>"
	}]
  }
</script>
<% } else if (typeof context.book !== 'undefined') { %>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"name": "Books &gt; <%= context.book.name_en %>",
		"itemListElement": [
		{
		"@type": "ListItem",
		"position": 1,
		"name": "Books",
		"item": "<%- `${site.url}/books` %>"
		},
		{
		"@type": "ListItem",
		"position": 2,
		"name": "<%- context.book.name_en %>",
		"item": "<%- `${site.url}/${context.book.alias}` %>"
		}]
	}
</script>
<% } %>

<% if (context.hadiths && !context.fromSearch) { %>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "name": "<%- `${context.hadiths[0].book.shortName_en} ${context.hadiths[0].num}` %>",
      "headline": "<%- `${context.hadiths[0].book.shortName_en} ${context.hadiths[0].num}` %>",
	  "url": "<%- `${site.url}${page.canonical}` %>",
	  "mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "<%- `${site.url}${page.canonical}` %>"
	  },
	  "genre": "Hadith",
      "dateModified": "<%- context.hadiths[0].lastmod.toISOString() %>",
      "author": [{
          "@type": "Book",
          "name": "<%- context.hadiths[0].book.name_en %>",
          "url": "<%- `${site.url}/${context.hadiths[0].book.alias}` %>"
        },
		{
		  "@type": "Person",
		  "name": "<%- context.hadiths[0].book.author %>"
	  }]
    }
</script>
<% } %>
