<nav class="navbar fixed-top container col-lg-8 mx-auto">
  <div class="row ms-1">
    
    <header class="col-md-4 col-1 text-nowrap d-flex">
      <a href="/"><img class="logo" src="<%= site.logoVector %>" width="56" height="56" class="me-2"></a>
      <div>
        <h6 class="title fs-4 mb-0">
          <a href="/" class="text-dark text-decoration-none">
          <% if (page.context.book && page.context.book.alias === 'quran') { %>
            Quran Unlocked
          <% } else { %>
            <%= site.name %>
          <% } %>
          </a>
        </h6>
        <% if (page.subtitle_en) { %>
        <div class="subtitle fs-6 text-muted">
          <%- page.subtitle_en %>
          <%- page.subtitle ? `<span lang="ar">${page.subtitle}</span>` : '' %>
        </div>
        <% } %>
      </div>
    </header>

    <menu class="col d-md-block d-none">
      
      <form action="/">
        <ul class="nav container-fluid justify-content-end">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">More</a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="/highlights">Highlights</a></li>
              <li><a class="dropdown-item" href="/titled">Updated Titles</a></li>
              <li><a class="dropdown-item" href="/requests">Translation Requests</a></li>
            </ul>
          </li>
          <% if (site.admin) { %>
          <li class="nav-item"><a class="nav-link" onclick="var editMode=(document.cookie ? document.cookie.match(/editMode=1/) : false); editMode ? document.cookie='editMode=0;path=/;' : document.cookie='editMode=1;path=/;'; console.log(document.cookie); location.reload();">
              <i class="bi bi-gear<%=site.editMode ? '-fill' : ''%>"></i></a>
          </li>
          <% } %>
          <li class="nav-item search-click-toggle">
            <input role="search" type="text" class="form-control search-click" name="q" placeholder="Search aḥādīth..." />
            <a class="nav-link"><i class="bi bi-search"></i></a>
          </li>
          <li class="nav-item">
            <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-topnav">
              <i id="icon-menu" class="bi bi-list"></i>
            </a>
          </li>
        </ul>
      </form>
      
    </menu>

    <menu class="col d-md-none d-block">
      <div class="nav container-fluid justify-content-end">
        <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-topnav">
          <i id="icon-menu" class="bi bi-list"></i>
        </a>
      </div>
    </menu>

    <nav id="offcanvas-topnav" class="offcanvas offcanvas-start collapse" tabindex="-1" data-bs-static="true" data-bs-backdrop="true">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fs-4" id="offcanvasLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <form action="/">
          <input role="search" type="text" class="form-control mb-2" name="q" placeholder="Search aḥādīth..." />
        </form>
        <div class="container row">
          <ul class="col-7 nav flex-column offcanvas-col1">
            <li class="nav-item"><a class="nav-link" href="/"><i class="bi bi-house"></i> Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/books"><i class="bi bi-book"></i> Books</a></li>
            <li class="nav-item"><a class="nav-link" href="/blog"><i class="bi bi-text-paragraph"></i> Blog</a></li>
            <li><hr></li>
            <li class="nav-item"><a class="nav-link" href="/highlights"><i class="bi bi-card-text"></i> Highlights</a></li>
            <li class="nav-item"><a class="nav-link" href="/titled"><i class="bi bi-card-heading"></i> Updated Titles</a></li>
            <li class="nav-item"><a class="nav-link" href="/requests"><i class="bi bi-translate"></i> Translation Req</a></li>
            <% if (site.admin) { %>
              <li><hr></li>
              <li class="nav-item"><a class="nav-link" onclick="var editMode=(document.cookie ? document.cookie.match(/editMode=1/) : false); editMode ? document.cookie='editMode=0;path=/;' : document.cookie='editMode=1;path=/;'; console.log(document.cookie); location.reload();">
                <% if (site.editMode) { %>  
                  <i class="bi bi-gear-fill"></i> <strong>View</strong>
                <% } else { %>
                  <i class="bi bi-gear"></i> <strong>Edit</strong>
                <% } %>
              </a></li>
              <% } %>
          </ul>
          <ul class="col-5 nav flex-column offcanvas-col2">
            <% for (b of books.filter(b => !b.hidden)) { %>
              <li class="nav-item"><a class="nav-link" title="<%= b.shortName %>" href="/<%= b.alias%>"><%= b.shortName_en %></a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    
  </div>
  
  <% if (page.menu === 'Chapter' || page.menu === 'Section') { 
      var book = page.context.book;
      var chapter = page.context.chapter;
      var sections = chapter.sections; 
  %>
  <nav class="row ms-1 chapter-toc">
    <%# --- TABLE OF CONTENTS --- %>
    <div class="d-flex justify-content-center">
      <% if (sections && sections.length > 0) { %>
        <a data-bs-toggle="collapse" href="#toc2" title="Click to show sections">Section Menu <i class="bi bi-caret-down-square"></i></a>
        <% if (page.context.book && page.context.book.alias === 'quran' && page.menu === 'Section') {
             if (req.query.passage == undefined) { %>
                &nbsp;|&nbsp; <a href="<%= req.path %>?passage" title="Passage View"><i class="bi bi-text-paragraph"></i> Passage</a>
             <% } else { %>
              &nbsp;|&nbsp; <a href="<%= req.path %>" title="Āyah View"><i class="bi bi-blockquote-left"></i> Āyāt</a>
        <%   }
           } %>
      <% } else { %>
        <!-- <a>No sections in this chapter</a> -->
      <% } %>
    </div>
    <detail id="toc2" class="toc2 collapse">
      <table class="table">
        <tbody>
          <%
				for (var section of sections) {
					if (section.level < 3) {
					title_en = '';
					if (section.title_en) 
						title_en = utils.truncate((section.title_en+''), 75);
					title = utils.truncate((section.title+''), 150); %>
          <tr class="title">
            <td><%- section.start %></td>
            <% if (section.start) { %>
            <td>
              <a href="/<%=section.path%>">
                <%= `§${section.h2 + (section.h3 ? `-${section.h3}` : '')}` %>
                <%- title_en || `Section ${section.h2 + (section.h3 ? `-${section.h3}` : '')}` %> (<%=section.count%>)
              </a>
            </td>
            <td lang="ar"><a href="/<%=section.path%>"><%- title %></a></td>
            <% } else { %>
            <td><%- title_en || 'Section' %></td>
            <td lang="ar"><%- title %></td>
            <% } %>
          </tr>
          <%    }
					}  %>
        </tbody>
      </table>
    </detail>
  </nav>
  <% } %>
  
</nav>