<% 
    var heading = page.context.heading;

    if (heading.page.offset) {
      page.canonical += `?o=${heading.page.offset}`;
      if (heading.page.number && (heading.page.hasNext || heading.page.number > 1))
        page.title_en += ` P${heading.page.number}`;
    }

    page.type = '';
    if (heading.page.hasPrev) {
      page.type = ' Page';
      page.prevHeading = heading;
      page.prev = `/${heading.path}?o=${heading.page.prevOffset}`;
    } else if (heading.prev) {
      page.prevHeading = heading.prev;
      page.prev = `/${page.prevHeading.path}`;
    }
    if (page.prev) {
      if (page.prevHeading.level == 1)
        page.prevTitle = `Prev${page.type}:&nbsp;${page.prevHeading.book.shortName_en}&nbsp;${page.prevHeading.h1}`;
      else if (page.prevHeading.level == 2)
        page.prevTitle = `Prev${page.type}:&nbsp;${page.prevHeading.book.shortName_en}&nbsp;ยง${page.prevHeading.h1}.${page.prevHeading.h2}`;
    }

    if (heading.page.hasNext) {
      page.type = ' Page';
      page.nextHeading = heading;
      page.next = `/${heading.path}?o=${heading.page.nextOffset}`;
    } else if (heading.next) {
      page.nextHeading = heading.next;
      page.next = `/${page.nextHeading.path}`;
    }
    if (page.next) {
      if (page.nextHeading.level == 1)
        page.nextTitle = `Next${page.type}:&nbsp;${page.nextHeading.book.shortName_en}&nbsp;${page.nextHeading.h1}`;
      else if (page.nextHeading.level == 2)
        page.nextTitle = `Next${page.type}:&nbsp;${page.nextHeading.book.shortName_en}&nbsp;ยง${page.nextHeading.h1}.${page.nextHeading.h2}`;
    }
%>

<div class="row mb-3 pagination">
  <div class="col-md-6 col-xs-12 text-start">
    <% if (page.prev) { %>
    &lt;&nbsp;<a title="<%- page.prevHeading.title_en || page.prevHeading.title %>" href="<%- page.prev %>" rel="prev"><%- page.prevTitle %></a>
    <% } %>
  </div>
  <div class="col-md-6 col-xs-12 text-end">
    <% if (page.next) { %>
    <a  title="<%- page.nextHeading.title_en || page.nextHeading.title %>" href="<%- page.next %>" rel="next"><%- page.nextTitle %></a>&nbsp;&gt;
    <% } %>
  </div>
</div>