<% 
	if (toc.chapter)
		toc.chapter.offset = Math.floor(toc.numInChapter / global.MAX_PER_PAGE) * global.MAX_PER_PAGE;
	hashtag = (toc.book.alias + '_' + toc.num).replace(/[-\:]/, '_');
	var _e = '_e';
	var _p = searchResult ? 'partial' : '';
%>

<!-- English Hadith ----------------------------------------- -->

<div class="col-md-6 col-sm-12 h" lang="en">
	<p><strong>
		<a title="<%-toc.tId%>" href="/<%=toc.book_alias%>/<%=toc.h1%>"><%= `${toc.book.shortName_en}` %></a> –
		<%= toc.h2_title_en || toc.h1_title_en || 'Section' %>
	</strong></p>
	<div class="body">
		<p><%- utils.emptyIfNull(toc.h2_intro_en || toc.h1_intro_en).replace(/\n/g, '</p><p>') %></p>
	</div>
	<% if (title && (toc.chapter || toc.section)) { %>
		<div class="title">
			§ 
			<% if (toc.h2) { %>
				<a title="<%= toc.section.title_en %>"><%- utils.truncate(toc.h2_title_en, 30, true) || 'Section' %></a>
			<% } %>
			<% if (toc.h1) { %>
				in <a href="/<%=toc.book_alias%>/<%=toc.h1%>"><%- utils.truncate(toc.h1_title_en, 30, true) || 'Chapter' %></a>
			<% } %>
		</div>
	<% } %>
</div>

<!-- Arabic Hadith ----------------------------------------- -->

<div class="col-md-6 cols-sm-12 h" lang="ar">
	<p><strong>
		<a title="<%-toc.tId%>" href="/<%=toc.book_alias%>/<%=toc.h1%>"><%= `${toc.book.shortName}` %></a> –
		<%= toc.h2_title || toc.h1_title || 'باب' %>
	</strong></p>
	<div class="body">
		<% console.log(JSON.stringify(toc)); %>
		<p><%- utils.emptyIfNull(toc.h2_intro || toc.h1_intro).replace(/\n/g, '</p><p>') %></p>
	</div>
	<% if (title && (toc.chapter || toc.section)) { %>
		<div class="title">
		§ 
		<% if (toc.h2) { %>
			<a title="<%= toc.section.title %>"><%- utils.truncate(toc.section.title, 60, true) || 'بَاب' %></a>
		<% } %>
		<% if (toc.chapter) { %>
			في <a href="/<%=toc.book_alias%>/<%=toc.h1%>" title="<%- toc.chapter.title %>"><%- utils.truncate(toc.chapter.title, 60, true) || 'كِتَاب' %></a>
		<% } %>
		</div>
	<% } %>
</div>

<% if (title) { %>
	<hr class="mt-2" />
<% } else { %>
	<div class="mt-2"></div>
<% } %>
