<% 
	hashtag = (toc.book.alias + '_' + toc.num).replace(/[-\:]/, '_');
	var _e = '_e';
	var _p = searchResult ? 'partial' : '';
%>

<!-- English Hadith ----------------------------------------- -->

<article class="col-md-6 col-sm-12 h" lang="en">
	<section><strong>
		<% if (toc.h2) {
			if (toc.level == 3) { %>
				<a href="/<%=toc.book.alias%>/<%=toc.h1%><%=toc.h1_offset%>#S<%=toc.h2%>-<%=toc.h3%>"><%= `${toc.book.shortName_en}` %> Subsection <%=toc.h1%>.<%=toc.h2%>-<%=toc.h3%></a> –
				<span class="<%=_e%>" data-id="<%=toc.h3_id%>" data-prop="toc.title_en"><%- toc.h3_title_en || 'Subsection' %></span>
			<% } else { %>
				<a href="/<%=toc.book.alias%>/<%=toc.h1%><%=toc.h1_offset%>#S<%=toc.h2%>"><%= `${toc.book.shortName_en}` %> Section <%=toc.h1%>.<%=toc.h2%></a> –
				<span class="<%=_e%>" data-id="<%=toc.h2_id%>" data-prop="toc.title_en"><%- toc.h2_title_en || 'Section' %></span>
			<% } %>
		<% } else if (toc.h1) { %>
			<a href="/<%=toc.book.alias%>/<%=toc.h1%>"><%= `${toc.book.shortName_en}` %> Chapter <%=toc.h1%></a> –
			<span class="<%=_e%>" data-id="<%=toc.h1_id%>" data-prop="toc.title_en"><%- toc.h1_title_en || 'Chapter' %></span>
		<% } %>
	</strong></section>
	<% if (site.editMode || toc.h1_intro_en || toc.h2_intro_en || toc.h3_intro_en ) { %>
		<section class="body">
			<% if (toc.h2) {
				if (toc.level == 3) { %>
					<p class="<%=_e%> <%=_p%>" data-id="<%=toc.h3_id%>" data-prop="toc.intro_en"><%- utils.emptyIfNull(toc.h3_intro_en).replace(/\n/g, '</p><p>') || '&hellip;' %></p>
				<% } else { %>
					<p class="<%=_e%> <%=_p%>" data-id="<%=toc.h2_id%>" data-prop="toc.intro_en"><%- utils.emptyIfNull(toc.h2_intro_en).replace(/\n/g, '</p><p>') || '&hellip;' %></p>
				<% } %>
			<% } else if (toc.h1) { %>
				<p class="<%=_e%> <%=_p%>" data-id="<%=toc.h1_id%>" data-prop="toc.intro_en"><%- utils.emptyIfNull(toc.h1_intro_en).replace(/\n/g, '</p><p>') || '&hellip;' %></p>
			<% } %>
		</section>
	<% } %>
	<% if (title && (toc.h1 || toc.h2)) { %>
		<section class="title">
			§ 
			<% if (toc.h2) {
				if (toc.level == 3) { %>
					<a href="/<%=toc.book.alias%>/<%=toc.h1%><%=toc.h1_offset%>#S<%=toc.h2%>-<%=toc.h3%>" title="<%= toc.h3_title_en %>"><%- utils.truncate(toc.h3_title_en, 30, true) || 'Subsection' %></a>
				<% } else { %>
					<a href="/<%=toc.book.alias%>/<%=toc.h1%><%=toc.h1_offset%>#S<%=toc.h2%>" title="<%= toc.h2_title_en %>"><%- utils.truncate(toc.h2_title_en, 30, true) || 'Section' %></a>
				<% } %>
			<% } %>
			<% if (toc.h1) { %>
				in <a href="/<%=toc.book_alias%>/<%=toc.h1%>"><%- utils.truncate(toc.h1_title_en, 30, true) || 'Chapter' %></a>
			<% } %>
		</section>
	<% } %>
</article>

<!-- Arabic Hadith ----------------------------------------- -->

<article class="col-md-6 cols-sm-12 h" lang="ar">
	<p><strong>
		<% if (toc.h2) { 
			if (toc.level == 3) { %>
				<a href="/<%=toc.book.alias%>/<%=toc.h1%><%=toc.h1_offset%>#S<%=toc.h2%>-<%=toc.h3%>"><%=toc.book.shortName%> <%=arabic.toArabicDigits(toc.h1)%>.<%=arabic.toArabicDigits(toc.h2)%>-<%=arabic.toArabicDigits(toc.h3)%></a> –
				<span class="<%=_e%>" data-id="<%=toc.h3_id%>" data-prop="toc.title"><%- toc.h3_title || 'باب' %></span>
			<% } else { %> 
				<a href="/<%=toc.book.alias%>/<%=toc.h1%><%=toc.h1_offset%>#S<%=toc.h2%>"><%=toc.book.shortName%> <%=arabic.toArabicDigits(toc.h1)%>.<%=arabic.toArabicDigits(toc.h2)%></a> –
				<span class="<%=_e%>" data-id="<%=toc.h2_id%>" data-prop="toc.title"><%- toc.h2_title || 'باب' %></span>
			<% } %>
		<% } else if (toc.h1) { %>
			<a href="/<%=toc.book.alias%>/<%=toc.h1%>"><%=toc.book.shortName%> <%=arabic.toArabicDigits(toc.h1)%></a> –
			<span class="<%=_e%>" data-id="<%=toc.h1_id%>" data-prop="toc.title"><%- toc.h1_title || 'كتاب' %></span>
		<% } %>
	</strong></p>
	<% if (site.editMode || toc.h1_intro || toc.h2_intro || toc.h3_intro ) { %>
		<section class="body">
			<% if (toc.h2) {
				if (toc.level == 3) { %>
					<p class="<%=_e%> <%=_p%>" data-id="<%=toc.h3_id%>" data-prop="toc.intro">
						<%- utils.emptyIfNull(toc.h3_intro).replace(/\n/g, '</p><p>') || '&hellip;'  %></p>
				<% } else { %> 
					<p class="<%=_e%> <%=_p%>" data-id="<%=toc.h2_id%>" data-prop="toc.intro"><%- utils.emptyIfNull(toc.h2_intro).replace(/\n/g, '</p><p>') || '&hellip;'  %></p>
				<% } %>
			<% } else if (toc.h1) { %>
				<p class="<%=_e%> <%=_p%>" data-id="<%=toc.h1_id%>" data-prop="toc.intro"><%- utils.emptyIfNull(toc.h1_intro).replace(/\n/g, '</p><p>') || '&hellip;'  %></p>
			<% } %>
		</section>
	<% } %>
	<% if (title && (toc || toc.h2)) { %>
		<section class="title">
		§ 
		<% if (toc.h2) {
			if (toc.level == 3) { %>
				<a href="/<%=toc.book.alias%>/<%=toc.h1%><%=toc.h1_offset%>#S<%=toc.h2%>-<%=toc.h3%>" title="<%= toc.h3_title %>"><%- utils.truncate(toc.h3_title, 60, true) || 'بَاب' %></a>
			<% } else { %> 
				<a href="/<%=toc.book.alias%>/<%=toc.h1%><%=toc.h1_offset%>#S<%=toc.h2%>" title="<%= toc.h2_title %>"><%- utils.truncate(toc.h2_title, 60, true) || 'بَاب' %></a>
			<% } %> 
		<% } %>
		<% if (toc.h1) { %>
			في <a href="/<%=toc.book_alias%>/<%=toc.h1%>" title="<%- toc.h1_title %>"><%- utils.truncate(toc.h1_title, 60, true) || 'كِتَاب' %></a>
		<% } %>
		</section>
	<% } %>
</article>

<% if (title) { %>
	<hr class="mt-2" />
<% } else { %>
	<div class="mt-2"></div>
<% } %>
