<!doctype html>
<html lang="en">
<head>
<% 
    var site = new Object(global.settings.blog);
    
    var page = {
      menu: 'Blog',
      title_en: `${site.shortName} | Blog Posts`,
      subtitle_en: `Blog Posts`,
      subtitle: ``,
      canonical: `/blog`,
      feed: `${site.url}/feed`,
      context: {}
    };
%>

<%- include('sub-views/head.ejs', { site: site, page: page }); %> 

</head>
<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">

    <main class="posts">

    <% for (var i = 0; i < posts.length; i++) { %>

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4 card-thumb">
              <a href="/blog/<%- posts[i].file %>"><img src="<%- posts[i].cover %>" class="img-fluid rounded-start" alt="..."></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="/blog/<%- posts[i].file %>"><%= posts[i].title %></a></h5>
                <p class="card-text mb-0"><%= posts[i].subtitle %></p>
                <p class="card-text"><small class="text-body-secondary"><%= posts[i].published.toDateString() %></small></p>
              </div>
            </div>
          </div>
        </div>

    <% } %>

    </main>
  </div>

<%- include('sub-views/footer.ejs', { site: site, page: page }); %>
<%- include('sub-views/scripts.ejs', { site: site, page: page }); %>

</body>
</html>