<!doctype html>
<html lang="en">

<head> 
<%
    var site = new Object(global.settings.blog);

    var page = {
      menu: 'Blog Post',
      title_en: `${site.shortName} | ${attr.title}`,
      subtitle_en: attr.title || 'Blog Post',
      subtitle: null,
      canonical: `${req.path}`,
      feed: `${site.url}/feed`,
      context: {},
    };
%> 

<%- include('sub-views/head.ejs', { site: site, page: page }); %> 

</head>

<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">
    
    <main class="blog-post">

      <article>
        <header>
          <h1 class="fs-3 mb-0"><strong><%= attr.title %></strong></h1>
          <% if (attr.subtitle) { %>
            <h2 class="fs-6 mb-0 text-body-secondary"><%= attr.subtitle %></h2>
          <% } %>
          <p class="fs-6 text-muted"><%= attr.published.toDateString() %></p>
        </header>
        <figure>
          <img src="<%- attr.cover %>">
        </figure>
        <section class="body">
         <%- body %>
        </section>
      </article>

    </main>
  </div>

<%- include('sub-views/footer.ejs', { site: site, page: page }); %>
<%- include('sub-views/scripts.ejs', { site: site, page: page }); %>

</body>
</html>