<!doctype html>
<html lang="en">
<head>
<% 
    var site = new Object(global.settings.site);
    site.admin = (req.cookies.admin == admin.key);
    site.editMode = (site.admin && req.cookies.editMode == 1);
    
    var page = {
      menu: 'Books',
      title_en: `${site.shortName} | Available Books`,
      subtitle_en: `Available Books`,
      subtitle: ``,
      canonical: `/books`,
      context: {}
    };
%>

<%- include('sub-views/head.ejs', { site: site, page: page }); %> 

</head>
<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">

    <main class="">

    <p class="mt-1"><strong>Caution:</strong> Translations of Quran and Ḥadīth may lead to possible misapplications and misinterpretations. 
      This site is intended for students of sacred knowledge that are proficient in comprehending 
      classical Arabic and have a strong foundation in Islamic sciences. Also note that religious 
      injunctions rely on several aspects beyond what one may glean through reading individual aḥādīth.</p>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Table",
        "name" : "Available Books of Ḥadīth",
        "about": "Available Books of Ḥadīth"
      }
    </script>

    <% for (var i = 0; i < books.length; i += 2) { %>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title row">
                <div class="col"><%- books[i].name_en %></div>
                <div class="col text-end" lang="ar"><%- books[i].name %></div>
              </h5>
              <p class="card-text">
                  <small class="text-muted"><%- books[i].author %>
                <% if (books[i].id > 0) { %>
                  (d. <%- books[i].yearOfDeath %>H)
                <% } %>&nbsp;
                </small>
              </p>
              <a href="/<%- books[i].alias %>" class="btn btn-primary">Browse <%- books[i].shortName_en %></a>
            </div>
          </div>
        </div>
        <% if (i < (books.length-1)) { %>
          <div class="col-sm-6 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title row">
                  <div class="col"><%- books[i+1].name_en %></div>
                  <div class="col text-end" lang="ar"><%- books[i+1].name %></div>
                </h5>
                <p class="card-text">
                  <% if (books[i+1].id > 0) { %>
                  <small class="text-muted"><%- books[i+1].author %> (d. <%- books[i+1].yearOfDeath %>H)</small>
                  <% } %>&nbsp;
                </p>
                <a href="/<%- books[i+1].alias %>" class="btn btn-primary">Browse <%- books[i+1].shortName_en %></a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

    </main>
  </div>

<%- include('sub-views/footer.ejs', { site: site, page: page }); %>
<%- include('sub-views/scripts.ejs', { site: site, page: page }); %>

</body>
</html>