<!doctype html>
<html lang="en">
<head>
<% 
    var root = 'https://hadith.quranunlocked.com';
    var site = {
      name: 'Ḥadīth Unlocked',
      url: root,
      logo: `${root}/images/logo.png`,
    };
    
    var page = {
      menu: 'Books',
      title_en: `${site.name} | ${book.name_en} Chapter ${results.chapter.h1}: ${results.chapter.title_en}`.substring(0, 70),
      subtitle_en: `${book.name_en}`,
      subtitle: `${book.name}`,
      canonical: `/${book.alias}/${results.chapter.h1}`,
    };
    if (typeof prevChapter != 'undefined' && prevChapter)
        page.prev = `/${book.alias}/${prevChapter.h1}`;
    if (typeof nextChapter != 'undefined' && nextChapter)
        page.next = `/${book.alias}/${nextChapter.h1}`;

    var context = {
        book: book,
        chapter: results.chapter,
    }
%>

<%- include('sub-views/head.ejs', { site: site, page: page, context: context }); %> 

</head>
<body>
  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

    <main class="chapter">

    <%# --- PREV/NEXT NAV ---  %>
    <div class="row mb-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (page.prev) { %>
        &lt;&nbsp;<a href="<%- page.prev %>">Prev:&nbsp;Chapter&nbsp;<%- prevChapter.h1 %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (page.next) { %>
          <a href="<%- page.next %>">Next:&nbsp;Chapterr&nbsp;<%- nextChapter.h1 %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    <div class="row">

      <%# --- BOOK TITLE ---  %>
      <%
          var title_en = '';
          if (results.chapter.title_en) title_en = results.chapter.title_en.substring(0, 75);
          if (results.chapter.title_en && results.chapter.title_en.length > 75) title_en += '&hellip;';
          var title = results.chapter.title.substring(0, 150);
          if (results.chapter.title.length > 150) title += '&hellip;';
      %> 
      <h3 class="col-md-6 col-sm-12 fs-5 title" lang="en">
        <a href="/<%- book.alias %>"><%- book.name_en %></a>
      </h3>
      <h3 class="col-md-6 col-sm-12 title" lang="ar">
        <a href="/<%- book.alias %>"><%- book.name %></a>
      </h3>

      <%# --- CHAPTER TITLE ---  %>
      <h2 class="col-md-6 col-sm-12 fs-4 title" lang="en">
        <%- results.chapter.h1 %>. <%- title_en || 'Chapter' %>
      </h2>
      <h2 class="col-md-6 col-sm-12 fs-4 title" lang="ar">
        <%- arabic.toArabicDigits(results.chapter.h1+'') %>۔ <%- title %>
      </h2>
      <div class="chapter-intro">
      <% if (results.chapter.intro_en) { %>
        <p class="col col-sm-12 intro" lang="en">
          <%- results.chapter.intro_en %>
        </p>
      <% }
         if (results.chapter.intro) { %>
        <p class="col col-sm-12 intro" lang="ar">
          <%- results.chapter.intro %>
        </p>
      <% } %>
      </div>

      <%# --- TABLE OF CONTENTS --- %>
      <div>
        <a data-bs-toggle="collapse" href="#toc2"><big class="toggle bi bi-toggle-off"></big></a> 
        <a data-bs-toggle="collapse" href="#toc2">Table of Contents</a>
      </div>
      <div id="toc2" class="toc2 collapse">
        <table class="table">
          <!--
          <thead>
            <th>Hadith</th>
            <th>Title</th>
            <th lang="ar">عنوان الكتاب</th>
          </thead>
          -->
          <tbody>
            <% for (var i = 0; i < results.headings.length; i++) {
                title_en = '';
                if (results.headings[i].title_en) title_en = (results.headings[i].title_en+'').substring(0, 75);
                if (results.headings[i].title_en && results.headings[i].title_en.length > 75) title_en += '&hellip;';
                title = (results.headings[i].title+'').substring(0, 150);
                if ((results.headings[i].title+'').length > 150) title += '&hellip;'; %>
                <tr class="title">
                  <td><%- results.headings[i].start0 %></td>
                  <% if (results.headings[i].start) { %>
                    <td><a href="/<%- `${book.alias}/${results.headings[i].h1}#${results.headings[i].start}` %>"><%- title_en %></a></td>
                    <td lang="ar"><a href="/<%- `${book.alias}/${results.headings[i].h1}#${results.headings[i].start}` %>"><%- title %></a></td>
                  <% } else { %>
                    <td><%- title_en %></td>
                  <td lang="ar"><%- title %></td>
                  <% } %>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <%# --- HADITH LOOP --- %>
      <% 
        for (var i = 0; i < results.hadiths.length; i++) {
          var headings = results.headings.filter(function(value) {
            return results.hadiths[i].num == value.start;
          });
      %>

      <%# --- HADITHS SECTION --- %>
      <a id="<%- results.hadiths[i].num %>"></a>
      <%  var totalHeadings = headings.length;
          for (var j = 0; headings && j < totalHeadings; j++) { 
            var heading = headings[j]; %>

      <div class="col-12 mt-4">
        <div class="top text-end">
          <a href="#top"><i class="bi bi-arrow-bar-up"></i>TOP</a>
        </div>
        <hr />
        <div class="row heading">
          <h3 class="col-md-6 col-sm-12 fs-5 title" lang="en">
            <%- heading.h2 %>. <%- heading.title_en || 'Section' %>
          </h3>
          <h3 class="col-md-6 col-sm-12 title" lang="ar">
            <%- arabic.toArabicDigits(heading.h2+'') %>۔ <%- heading.title %>
          </h3>
        </div>        
        <div class="col-12">
          <div class="row heading-intro">
            <% if (heading.intro_en) { %>
            <p class="col col-sm-12 intro" lang="en">
              <%- heading.intro_en %>
            </p>
            <% }
              if (heading.intro) { %>
            <p class="col col-sm-12 intro" lang="ar">
              <%- heading.intro %>
            </p>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>

      <%# --- HADITH --- %>
      <%- include('sub-views/hadith.ejs', { hadith: results.hadiths[i], title: false }); %>

      <% } %>

    </div>

    <%# --- PREV/NEXT NAV ---  %>
    <div class="row mt-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (page.prev) { %>
        &lt;&nbsp;<a href="<%- page.prev %>">Prev:&nbsp;Chapter&nbsp;<%- prevChapter.h1 %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (page.next) { %>
          <a href="<%- page.next %>">Next:&nbsp;Chapterr&nbsp;<%- nextChapter.h1 %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    </main>
  </div>

<%- include('sub-views/scripts.ejs'); %>

</body>
</html>