<!doctype html>
<html lang="en">
<head>
<% 
    var root = 'https://hadith.quranunlocked.com';
    var site = {
      name: 'Ḥadīth Unlocked',
      url: root,
      logo: `${root}/images/logo.png`,
    };
    
    var page = {
      menu: 'Books',
      title_en: utils.truncate(`${site.name} | ${book.name_en} Chapter ${results.chapter.h1}: ${results.chapter.title_en}`, 70),
      subtitle_en: `${book.shortName_en}`,
      subtitle: `${book.shortName}`,
      canonical: `/${book.alias}/${results.chapter.h1}`,
    };

    if (results.hadiths.offset) {
      page.canonical += `?o=${results.hadiths.offset}`;
      if (results.hadiths.pg && (results.hadiths.hasNext || results.hadiths.pg > 1))
        page.title_en += ` P${results.hadiths.pg}`;
    }
    if (results.hadiths.hasPrev) {
      page.prev = `/${book.alias}/${results.chapter.h1}?o=${results.hadiths.prevOffset}`;
      page.prevTitle = `Prev:&nbsp;Chapter&nbsp;${results.chapter.h1}&nbsp;Pg.&nbsp;${results.hadiths.pg-1}`
    } else if (typeof prevChapter != 'undefined' && prevChapter) {
      page.prev = `/${book.alias}/${prevChapter.h1}`;
      page.prevTitle = `Prev:&nbsp;Chapter&nbsp;${prevChapter.h1}`
    }
    if (results.hadiths.hasNext) {
      page.next = `/${book.alias}/${results.chapter.h1}?o=${results.hadiths.nextOffset}`;
      page.nextTitle = `Next:&nbsp;Chapter&nbsp;${results.chapter.h1}&nbsp;Pg.&nbsp;${results.hadiths.pg+1}`
    } else if (typeof nextChapter != 'undefined' && nextChapter) {
        page.next = `/${book.alias}/${nextChapter.h1}`;
        page.nextTitle = `Next:&nbsp;Chapter&nbsp;${nextChapter.h1}`
    }

    var context = {
        book: book,
        chapter: results.chapter,
    }
%>

<%- include('sub-views/head.ejs', { site: site, page: page, context: context }); %> 

</head>
<body>
  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

    <main class="chapter">

    <div class="row mb-3 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (page.prev) { %>
        &lt;&nbsp;<a href="<%- page.prev %>" rel="prev"><%- page.prevTitle %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (page.next) { %>
          <a href="<%- page.next %>" rel="next"><%- page.nextTitle %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    <div class="row">

      <%# --- BOOK TITLE ---  %>
      <%
          var title_en = '';
          if (results.chapter.title_en) title_en = utils.truncate(results.chapter.title_en, 75);
          var title = utils.truncate(results.chapter.title, 150);
      %> 
      <h3 class="col-md-6 col-sm-12 fs-5 title" lang="en">
        <a href="/<%- book.alias %>"><%- book.name_en %></a>
      </h3>
      <h3 class="col-md-6 col-sm-12 title" lang="ar">
        <a href="/<%- book.alias %>"><%- book.name %></a>
      </h3>

      <%# --- CHAPTER TITLE ---  %>
      <h2 class="col-md-6 col-sm-12 fs-4 title" lang="en">
        <%- results.chapter.h1 %>. <%- title_en || 'Chapter' %>
        <%- (results.hadiths.hasNext || results.hadiths.pg && results.hadiths.pg > 1) ? `Pg. ${results.hadiths.pg}` : `` %>
        <small><a class="text-muted" target="_blank" href="<%- `/admin/toc/${results.chapter.id}` %>"><span class="bi bi-pencil"></span></a></small>
      </h2>
      <h2 class="col-md-6 col-sm-12 fs-4 title" lang="ar">
        <%- arabic.toArabicDigits(results.chapter.h1+'') %>۔ <%- title %>
        <%- (results.hadiths.hasNext || results.hadiths.pg && results.hadiths.pg > 1) ? `ص ${arabic.toArabicDigits(results.hadiths.pg+'')}` : `` %>
      </h2>
      <div class="chapter-intro">
      <% if (results.chapter.intro_en) { %>
        <p class="col col-sm-12 intro" lang="en">
          <%- results.chapter.intro_en %>
        </p>
      <% }
         if (results.chapter.intro) { %>
        <p class="col col-sm-12 intro" lang="ar">
          <%- results.chapter.intro %>
        </p>
      <% } %>
      </div>

      <%# --- TABLE OF CONTENTS --- %>
      <div>
        <a data-bs-toggle="collapse" href="#toc2"><big class="toggle bi bi-toggle-off"></big></a> 
        <a data-bs-toggle="collapse" href="#toc2">Table of Contents</a>
      </div>
      <div id="toc2" class="toc2 collapse">
        <table class="table">
          <!--
          <thead>
            <th>Hadith</th>
            <th>Title</th>
            <th lang="ar">عنوان الكتاب</th>
          </thead>
          -->
          <tbody>
            <%
              var firstNum = results.hadiths[0].num0
              var lastNum = results.hadiths[results.hadiths.length-1].num0;
              var rootPath = `/${book.alias}/${results.chapter.h1}`;
              for (var i = 0; i < results.headings.length; i++) {
                var offset = Math.floor(results.headings[i].numInChapter / global.MAX_PER_PAGE) * global.MAX_PER_PAGE;
                var offsetLink = '';
                if (results.headings[i].start0 < firstNum || results.headings[i].start0 > lastNum) 
                  offsetLink = `?o=${offset}`;
                title_en = '';
                if (results.headings[i].title_en) title_en = utils.truncate((results.headings[i].title_en+''), 75);
                title = utils.truncate((results.headings[i].title+''), 150); %>
                <tr class="title">
                  <td><%- results.headings[i].start0 %></td>
                  <% if (results.headings[i].start) { %>
                    <td><a href="<%- `${rootPath}${offsetLink}#S${results.headings[i].h2}` %>"><%- title_en %></a></td>
                    <td lang="ar"><a href="<%- `${rootPath}${offsetLink}#S${results.headings[i].h2}` %>"><%- title %></a></td>
                  <% } else { %>
                    <td><%- title_en %></td>
                  <td lang="ar"><%- title %></td>
                  <% } %>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <%# --- HADITH LOOP --- %>
      <% 
        for (var i = 0; i < results.hadiths.length; i++) {
          var headings = results.headings.filter(function(value) {
            if (book.virtual == 1)
              return results.hadiths[i].numVirtual == value.start;
            else
              return results.hadiths[i].num == value.start;
          });
      %>

      <%# --- HADITHS SECTION --- %>
      <a id="<%- results.hadiths[i].num %>"></a>
      <%  var totalHeadings = headings.length;
          for (var j = 0; headings && j < totalHeadings; j++) { 
            var heading = headings[j]; %>

      <a id="S<%- heading.h2 %>"></a>
      <div class="col-12 mt-4">
        <div class="top text-end">
          <a href="#top"><i class="bi bi-arrow-bar-up"></i>TOP</a>
        </div>
        <hr />
        <div class="row heading">
          <h3 class="col-md-6 col-sm-12 fs-5 title" lang="en">
            <%- heading.h2 %>. <%- heading.title_en || 'Section' %>
            <small><a class="text-muted" target="_blank" href="<%- `/admin/toc/${heading.id}` %>"><span class="bi bi-pencil"></span></a></small>
          </h3>
          <h3 class="col-md-6 col-sm-12 title" lang="ar">
            <%- arabic.toArabicDigits(heading.h2+'') %>۔ <%- heading.title %>
          </h3>
        </div>        
        <div class="col-12">
          <div class="row heading-intro">
            <% if (heading.intro_en) { %>
            <p class="col col-sm-12 intro" lang="en">
              <%- heading.intro_en %>
            </p>
            <% }
              if (heading.intro) { %>
            <p class="col col-sm-12 intro" lang="ar">
              <%- heading.intro %>
            </p>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>

      <%# --- HADITH --- %>
      <%- include('sub-views/hadith.ejs', { hadith: results.hadiths[i], title: false }); %>

      <% } %>

    </div>

    <%# --- PREV/NEXT NAV ---  %>
    <div class="row mt-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (page.prev) { %>
        &lt;&nbsp;<a href="<%- page.prev %>" rel="prev"><%- page.prevTitle %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (page.next) { %>
          <a href="<%- page.next %>" rel="next"><%- page.nextTitle %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    </main>
  </div>

<%- include('sub-views/footer.ejs'); %>
<%- include('sub-views/scripts.ejs'); %>

</body>
</html>