<!doctype html>
<html lang="en">

<head>
  <%
    var site = new Object(global.settings.site);
    site.admin = (req.cookies.admin == admin.key);
    site.editMode = (site.admin && req.cookies.editMode == 1);

    var book = chapter.book;
    var page = {
      menu: 'Chapter',
      title_en: `${site.shortName} | ${book.shortName_en} ${chapter.h1} ${chapter.title_en || chapter.title}`,
      subtitle_en: `${book.shortName_en}`,
      subtitle: `${book.shortName}`,
      canonical: `/${book.alias}/${chapter.h1}${req.originalUrl.includes('?') ? '?'+qs.stringify(req.query) : ''}`,
      context: {
        book: book,
        chapter: chapter,
        heading: chapter,
        continued: false
      }
    };
  %>
  
  <%- include('sub-views/head.ejs', { site: site, page: page }); %>
  
</head>

<body>
  
  <%- include('sub-views/header.ejs', { site: site, page: page }); %>
  
  <div class="container col-lg-8 mx-auto">
    
    <main class="chapter mt-10">
      
      <%- include('sub-views/pagination.ejs', { site: site, page: page }); %>
      
      <%- include('sub-views/chapterTitle.ejs', { site: site, page: page }); %>
              
      <%
      var lastPath = -1;
      var n = -1;
      for (var item of results) {
        n++;
        var showHeading = (item.path != lastPath && item.heading && item.heading.level > 1);
        lastPath = item.path;
      %>
      
      <% if (n === 0 && item.heading && item.heading.level === 3) {
            page.context.continued = true; %>
      <%- include('sub-views/heading.ejs', { site: site, page: page, heading: item.section }); %>
      <%   page.context.continued = false;
          } else {
            page.context.continued = false;
          } %>
      
      <% if (showHeading) { %>
      <%- include('sub-views/heading.ejs', { site: site, page: page, heading: item.heading }); %>
      <% } %>
      
      <% if (item.id) { %>
      <%- include('sub-views/hadith.ejs', { site: site, page: page, i: item, main: false, title: false, searchResult: false }); %>
      <% } %>
      
      <% } %>
              
      <%- include('sub-views/pagination.ejs', { site: site, page: page }); %>
      
    </main>
  </div>
  
  <%- include('sub-views/footer.ejs', { site: site, page: page }); %>
  <%- include('sub-views/scripts.ejs', { site: site, page: page }); %>
  
</body>

</html>