<!doctype html>
<html lang="en">
<head>
<% 
    var root = 'https://hadith.quranunlocked.com';
    var site = {
      name: 'Ḥadīth',
      url: root,
      logo: `${root}/images/logo.png`,
      admin: (req.cookies.admin == admin.key),
    };
    site.editMode = (site.admin && req.cookies.editMode == 1);
    
    var page = {
      menu: 'Chapter',
      title_en: `${site.name} | ${book.shortName_en} Chapter ${results.chapter.h1}: ${results.chapter.title_en}`,
      subtitle_en: `${book.shortName_en}`,
      subtitle: `${book.shortName}`,
      canonical: `/${book.alias}/${results.chapter.h1}`,
    };

    if (results.hadiths.offset) {
      page.canonical += `?o=${results.hadiths.offset}`;
      if (results.hadiths.pg && (results.hadiths.hasNext || results.hadiths.pg > 1))
        page.title_en += ` P${results.hadiths.pg}`;
    }
    if (results.hadiths.hasPrev) {
      page.prev = `/${book.alias}/${results.chapter.h1}?o=${results.hadiths.prevOffset}`;
      page.prevTitle = `Prev:&nbsp;Chapter&nbsp;${results.chapter.h1}&nbsp;Pg.&nbsp;${results.hadiths.pg-1}`
    } else if (typeof prevChapter != 'undefined' && prevChapter) {
      page.prev = `/${book.alias}/${prevChapter.h1}`;
      page.prevTitle = `Prev:&nbsp;Chapter&nbsp;${prevChapter.h1}`
    }
    if (results.hadiths.hasNext) {
      page.next = `/${book.alias}/${results.chapter.h1}?o=${results.hadiths.nextOffset}`;
      page.nextTitle = `Next:&nbsp;Chapter&nbsp;${results.chapter.h1}&nbsp;Pg.&nbsp;${results.hadiths.pg+1}`
    } else if (typeof nextChapter != 'undefined' && nextChapter) {
        page.next = `/${book.alias}/${nextChapter.h1}`;
        page.nextTitle = `Next:&nbsp;Chapter&nbsp;${nextChapter.h1}`
    }

    var context = {
        book: book,
        chapter: results.chapter,
    }
%>

<%- include('sub-views/head.ejs', { site: site, page: page, context: context }); %> 

</head>
<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">
    
    <main class="chapter mt-10">

    <div class="row mb-3 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (page.prev) { %>
        &lt;&nbsp;<a href="<%- page.prev %>" rel="prev"><%- page.prevTitle %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (page.next) { %>
          <a href="<%- page.next %>" rel="next"><%- page.nextTitle %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    <div class="row">

      <%# --- BOOK TITLE ---  %>
      <%
          var title_en = '';
          if (results.chapter.title_en) title_en = utils.truncate(results.chapter.title_en, 75);
          var title = utils.truncate(results.chapter.title, 150);
      %> 
      <h3 class="col-md-6 col-sm-12 fs-5 title" lang="en">
        <a href="/<%- book.alias %>"><%- book.name_en %></a>
      </h3>
      <h3 class="col-md-6 col-sm-12 title" lang="ar">
        <a href="/<%- book.alias %>"><%- book.name %></a>
      </h3>

      <%# --- CHAPTER TITLE ---  %>
      <h2 class="col-md-6 col-sm-12 fs-4 title" lang="en">
        <%- results.chapter.h1 %>. <span class="_e" data-id="<%=results.chapter.id%>" data-prop="toc.title_en"><%- title_en || 'Chapter' %></span>
        <% if (results.hadiths.hasNext || results.hadiths.pg && results.hadiths.pg > 1) { %>
          (<%- results.hadiths.pg %>/<%- Math.ceil(results.chapter.count / global.MAX_PER_PAGE) %>)
        <% } %>
      </h2>
      <h2 class="col-md-6 col-sm-12 fs-4 title" lang="ar">
        <%- arabic.toArabicDigits(results.chapter.h1+'') %>۔ <span class="_e" data-id="<%=results.chapter.id%>" data-prop="toc.title"><%- title %></span>
        <%- (results.hadiths.hasNext || results.hadiths.pg && results.hadiths.pg > 1) ? `ص ${arabic.toArabicDigits(results.hadiths.pg+'')}` : `` %>
      </h2>
      <div class="chapter-intro row">
        <div class="col-md-6 col-sm-12 intro" lang="en">
          <% if (results.chapter.intro_en) { %>
            <p><%- utils.emptyIfNull(results.chapter.intro_en).replace(/\n/g, '</p><p>') %></p>
          <% } else { %> 
            <p>&hellip;</p>
          <% } %>
        </div>
        <div class="col-md-6 col-sm-12 intro" lang="ar">
          <% if (results.chapter.intro) { %>
            <p><%- utils.emptyIfNull(results.chapter.intro).replace(/\n/g, '</p><p>') %></p>
          <% } else { %> 
            <p>&hellip;</p>
          <% } %>
        </div>
      </div>

      <%# --- HADITH LOOP --- %>
      <% 
        for (var i = 0; i < results.hadiths.length; i++) {
          var headings = results.headings.filter(function(heading) {
            if (book.virtual == 1)
              return results.hadiths[i].numVirtual == heading.start;
            else
              return results.hadiths[i].num == heading.start;
          });

          var sectionContinued = false;
          if (i == 0 && headings.length == 0 && book.virtual == 0) {
            for (var j = results.headings.length-1; j >=0; j--) {
              headings = [ results.headings[j] ];
              if (results.headings[j].start0 <= results.hadiths[i].num0)
                break;
            }
            sectionContinued = headings.length > 0;
          }
      %>

      <%# --- HADITHS SECTION --- %>
      <a id="<%- results.hadiths[i].num %>"></a>
      <%  var totalHeadings = headings.length;
          for (var j = 0; headings && j < totalHeadings; j++) { 
            var heading = headings[j]; %>

      <a id="S<%- heading.h2 + (heading.h3 ? `-${heading.h3}` : '') %>"></a>
      <div class="col-12 mt-4">
        <div class="top text-end">
          <a href="#top"><i class="bi bi-arrow-bar-up"></i>TOP</a>
        </div>
        <hr />
        <div class="row heading">
          <h3 class="col-md-6 col-sm-12 fs-5 title" lang="en">
            <%- heading.h2 + (heading.h3 ? `-${heading.h3}` : '') %>. <span class="_e" data-id="<%=heading.id%>" data-prop="toc.title_en"><%- heading.title_en || 'Section' %></span>
            <% if (sectionContinued) { %>
              <small class="text-muted">(contd &hellip;)</small>
            <% } %>
          </h3>
          <h3 class="col-md-6 col-sm-12 title" lang="ar">
            <%- arabic.toArabicDigits(heading.h2+'') + (heading.h3 ? `-${arabic.toArabicDigits(heading.h3+'')}` : '') %>۔ <span class="_e" data-id="<%=heading.id%>" data-prop="toc.title"><%- heading.title %></span>
          </h3>
        </div>        
        <div class="col-12">
          <div class="row heading-intro">
            <div class="_e col-md-6 col-sm-12 intro" lang="en" data-id="<%=heading.id%>" data-prop="toc.intro_en">
              <% if (heading.intro_en) { %>
                <p><%- utils.emptyIfNull(heading.intro_en).replace(/\n/g, '</p><p>') %></p>
              <% } else { %> 
                <p>&hellip;</p>
              <% } %>
            </div>
            <div class="_e col-md-6 col-sm-12 intro" lang="ar" data-id="<%=heading.id%>" data-prop="toc.intro">
              <% if (heading.intro) { %>
                <p><%- utils.emptyIfNull(heading.intro).replace(/\n/g, '</p><p>') %></p>
              <% } else { %> 
                <p>&hellip;</p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <%# --- HADITH --- %>
      <%- include('sub-views/hadith.ejs', { site: site, hadith: results.hadiths[i], main: false, title: false, searchResult: false }); %>

      <% } %>

    </div>

    <%# --- PREV/NEXT NAV ---  %>
    <div class="row mt-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (page.prev) { %>
        &lt;&nbsp;<a href="<%- page.prev %>" rel="prev"><%- page.prevTitle %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (page.next) { %>
          <a href="<%- page.next %>" rel="next"><%- page.nextTitle %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    </main>
  </div>

<%- include('sub-views/footer.ejs'); %>
<%- include('sub-views/scripts.ejs', { site: site }); %>

</body>
</html>