<!doctype html>
<html lang="en">
<head>
  <% 
    var name = 'Ḥadīth Unlocked';
    var url = 'https://hadith.quranunlocked.com';
    var logo = `${url}/images/logo.png`;
    var desc = `${book.name_en} | Chapter ${results.chapter.h1}: ${results.chapter.title_en}`.substring(0, 70);
    var title = `${name} | ${desc}`;
    var canonical = `${url}/${book.alias}/${results.chapter.h1}`;
    var prev = null;
    var next = null;
    if (typeof prevChapter != 'undefined' && prevChapter)
      prev = `${url}/${book.alias}/${prevChapter.num0}`;
    if (typeof nextChapter != 'undefined' && nextChapter)
      next = `${url}/${book.alias}/${nextChapter.num0}`;
  %>

  <title><%- title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <link rel="canonical" href="<%= canonical %>" />
  <% if (prev) { %>
  <link rel="prev" href="<%= prev %>" />
  <% } %>
  <% if (next) { %>
    <link rel="next" href="<%= next %>" />
  <% } %>  

  <meta name="og:site_name" content="<%= name %>">
  <meta name="og:locale" content="en">
  <meta name="og:image" content="<%= logo %>">
  <meta name="og:url" content="<%= canonical %>">
  <meta name="og:title" content="<%= title %>">
  <meta name="og:description" content="<%= desc %>">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="<%= logo %>">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= desc %>">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "<%= name %>",
      "url": "<%= url %>",
      "logo": "<%= logo %>"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "<%= name %> Search Action",
      "url": "<%= url %>",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "<%= url %>/?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Book",
      "name": "<%= book.name_en %>",
      "inLanguage": "English",
      "url" : "<%= `${url}/${book.alias}` %>"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Book",
      "name": "<%= book.name %>",
      "inLanguage": "Arabic",
      "url" : "<%= `${url}/${book.alias}` %>"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Chapter",
      "name": "<%- `${book.shortName_en}, Chapter ${results.chapter.h1}: ${results.chapter.title_en}` %>",
      "alternateName": "<%- `${book.shortName}، ${arabic.toArabicDigits(results.chapter.h1+'')}- ${results.chapter.title}` %>",
      "pageStart": "<%- results.chapter.start0 %>",
      "pageEnd": "<%- results.chapter.end0 %>",
      "url": "<%- canonical %>",
      "schema:isPartOf": {
        "@id": "<%= `${url}/${book.alias}` %>"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "name": "Books &gt; <%- book.shortName_en %> &gt; Chapter <%- results.chapter.h1 %> ",
      "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Books",
        "item": "<%- `${url}/books` %>"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "<%- book.shortName_en %>",
        "item": "<%- `${url}/${book.alias}` %>"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "<%- `Chapter ${results.chapter.h1}` %>"
      }]
    }
  </script>
</head>
<body>
  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3">
        <a href="/" class="d-flex text-dark text-decoration-none">
          <img src="/images/logo.svg" width="32" height="32" class="me-2" role="img"><title><%= name %></title>
          <h1 class="fs-4">
            <%= name %><br/>
            <span class="fs-6 text-muted">
                <%- book.name_en %>
                <span lang="ar"><%- book.name %></span>
            </span>
          </h1>
        </a>
        <nav class="d-inline-flex mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/books">Books</a>
          <a class="py-2 text-dark text-decoration-none" href="/recent">Recent</a>
        </nav>
      </div>
    </header>

    <main class="chapter">

    <%# --- PREV/NEXT NAV ---  %>
    <div class="row mb-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (prev) { %>
        &lt;&nbsp;<a href="/<%- book.alias + '/' + prevChapter.h1 %>">Prev:&nbsp;Chapter&nbsp;<%- prevChapter.h1 %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (next) { %>
          <a href="/<%- book.alias + '/' + nextChapter.h1 %>">Next:&nbsp;Chapterr&nbsp;<%- nextChapter.h1 %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    <div class="row">

      <%# --- BOOK TITLE ---  %>
      <%
          var title_en = '';
          if (results.chapter.title_en) title_en = results.chapter.title_en.substring(0, 75);
          if (results.chapter.title_en && results.chapter.title_en.length > 75) title_en += '&hellip;';
          var title = results.chapter.title.substring(0, 150);
          if (results.chapter.title.length > 150) title += '&hellip;';
      %> 
      <h3 class="col-md-6 col-sm-12 fs-5 title" lang="en">
        <a href="/<%- book.alias %>"><%- book.name_en %></a>
      </h3>
      <h3 class="col-md-6 col-sm-12 title" lang="ar">
        <a href="/<%- book.alias %>"><%- book.name %></a>
      </h3>

      <%# --- CHAPTER TITLE ---  %>
      <h2 class="col-md-6 col-sm-12 fs-4 title" lang="en">
        <%- results.chapter.h1 %>. <%- title_en || 'Chapter' %>
      </h2>
      <h2 class="col-md-6 col-sm-12 fs-4 title" lang="ar">
        <%- arabic.toArabicDigits(results.chapter.h1+'') %>۔ <%- title %>
      </h2>
      <div class="chapter-intro">
      <% if (results.chapter.intro_en) { %>
        <p class="col col-sm-12 intro" lang="en">
          <%- results.chapter.intro_en %>
        </p>
      <% }
         if (results.chapter.intro) { %>
        <p class="col col-sm-12 intro" lang="ar">
          <%- results.chapter.intro %>
        </p>
      <% } %>
      </div>

      <%# --- TABLE OF CONTENTS --- %>
      <div>
        <a data-bs-toggle="collapse" href="#toc2"><big class="toggle bi bi-toggle-off"></big></a> 
        <a data-bs-toggle="collapse" href="#toc2">Table of Contents</a>
      </div>
      <div id="toc2" class="toc2 collapse">
        <table class="table">
          <!--
          <thead>
            <th>Hadith</th>
            <th>Title</th>
            <th lang="ar">عنوان الكتاب</th>
          </thead>
          -->
          <tbody>
            <% for (var i = 0; i < results.headings.length; i++) {
                title_en = '';
                if (results.headings[i].title_en) title_en = results.headings[i].title_en.substring(0, 75);
                if (results.headings[i].title_en && results.headings[i].title_en.length > 75) title_en += '&hellip;';
                title = results.headings[i].title.substring(0, 150);
                if (results.headings[i].title.length > 150) title += '&hellip;'; %>
                <tr class="title">
                  <td><%- results.headings[i].start0 %></td>
                  <% if (results.headings[i].start) { %>
                    <td><a href="/<%- `${book.alias}/${results.headings[i].h1}#${results.headings[i].start}` %>"><%- title_en %></a></td>
                    <td lang="ar"><a href="/<%- `${book.alias}/${results.headings[i].h1}#${results.headings[i].start}` %>"><%- title %></a></td>
                  <% } else { %>
                    <td><%- title_en %></td>
                  <td lang="ar"><%- title %></td>
                  <% } %>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <%# --- HADITH LOOP --- %>
      <% 
        for (var i = 0; i < results.hadiths.length; i++) {
          var heading = results.headings.find(function(value) {
            return results.hadiths[i].num == value.start;
          });
      %>

      <%# --- HADITHS SECTION --- %>
      <a id="<%- results.hadiths[i].num %>"></a>
      <% if (heading) { %>
      <div class="col-12 mt-4">
        <div class="top text-end">
          <a href="#top"><i class="bi bi-arrow-bar-up"></i>TOP</a>
        </div>
        <hr />
        <div class="row heading">
          <h3 class="col-md-6 col-sm-12 fs-5 title" lang="en">
            <%- heading.h2 %>. <%- heading.title_en || 'Section' %>
          </h3>
          <h3 class="col-md-6 col-sm-12 title" lang="ar">
            <%- arabic.toArabicDigits(heading.h2+'') %>۔ <%- heading.title %>
          </h3>
        </div>        
        <div class="col-12">
          <div class="row heading-intro">
            <% if (heading.intro_en) { %>
            <p class="col col-sm-12 intro" lang="en">
              <%- heading.intro_en %>
            </p>
            <% }
              if (heading.intro) { %>
            <p class="col col-sm-12 intro" lang="ar">
              <%- heading.intro %>
            </p>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>

      <%# --- HADITH --- %>
      <div class="col-md-6 col-sm-12 mt-2 h" lang="en">
        <p>
          <b><a href="/<%= results.hadiths[i].book.alias%>:<%=results.hadiths[i].num %>"><%= results.hadiths[i].book.shortName_en %> <%= results.hadiths[i].num %></a></b> –
          <% if (results.hadiths[i].chain_en) { %>
          <span class="chain"><%- results.hadiths[i].chain_en %></span>
          <% } %>
        </p>
        <p class="body">
          <% if (!results.hadiths[i].body_en) { %>
            Translation of this ḥadīth is currently not available.
          <% } %>
          <%- results.hadiths[i].body_en %><br/>
        </p>
        <% if (results.hadiths[i].footnote_en) { %>
          <p class="footnote">
            <%- results.hadiths[i].footnote_en %><br/>
          </p>
        <% } %>
        <em class="grade">– <%- results.hadiths[i].grade.grade_en %>&nbsp;(<%- results.hadiths[i].grader.shortName_en %>)</em>
        <a class="text-muted" target="admin" href="/admin/hadiths/<%- results.hadiths[i].id %>">[edit]</a>
      </div>

      <div class="col-md-6 cols-sm-12 h" lang="ar">
        <p>
          <b><a href="/<%=results.hadiths[i].book.alias%>:<%=results.hadiths[i].num%>"><%= results.hadiths[i].book.shortName %> <%= results.hadiths[i].num_ar %></a></b> –
          <% if (results.hadiths[i].chain) { %>
          <span class="chain"><%- results.hadiths[i].chain %></span>
          <% } %>
        </p>
        <p class="body">
          <%- results.hadiths[i].body %><br />
        </p>
        <% if (results.hadiths[i].footnote) { %>
          <p class="footnote">
            <%- results.hadiths[i].footnote %><br/>
          </p>
        <% } %>
        <em class="grade">– <%- results.hadiths[i].grade.grade %>&nbsp;(<%- results.hadiths[i].grader.shortName %>)</em>
      </div>

      <% } %>

    </div>

    <%# --- PREV/NEXT NAV ---  %>
    <div class="row mt-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (prev) { %>
        &lt;&nbsp;<a href="/<%- book.alias + '/' + prevChapter.h1 %>">Prev:&nbsp;Chapter&nbsp;<%- prevChapter.h1 %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (next) { %>
          <a href="/<%- book.alias + '/' + nextChapter.h1 %>">Next:&nbsp;Chapterr&nbsp;<%- nextChapter.h1 %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3c8decddde.js" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>

</body>
</html>