<!doctype html>
<html lang="en">

<head> 
<%
    var site = new Object(global.settings.site);
    site.admin = false;
    site.editMode = false;

    var subtitle_en = `Error ${res.statusCode} `;
    var page = {
      menu: 'Error',
      title_en: `${site.shortName} | Error: ${res.statusCode} ${utils.emptyIfNull(message)} `,
      subtitle_en: subtitle_en,
      subtitle: null,
      canonical: '/',
      context: {},
    };
%> 

<%- include('sub-views/head.ejs', { site: site, page: page }); %> 

</head>

<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">
    
    <main class="search-results">

      <%- include('sub-views/bookNav.ejs'); %> 

      <div class="row"> 
        
        <h5><%- res.statusCode %> <%- message %></h5>
        <% if (res.statusCode >= 500) { %>
          <pre><%- error.stack %></pre>
        <% } %>

      </div>
    </main>
  </div>

<%- include('sub-views/footer.ejs', { site: site, page: page }); %>
<%- include('sub-views/scripts.ejs', { site: site, page: page }); %>

</body>
</html>
