<?xml version="1.0" encoding="utf-8" standalone="no"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/"><%
  const site = new Object(global.settings.site);
%>
<channel>
  <title><%= page.title_en %></title>
  <atom:link href="<%= page.canonical %>" rel="self" type="application/rss+xml" />
  <link><%= page.canonical %></link>
  <description><%= page.subtitle_en %></description>
  <language>en-US</language>
  <webMaster><%= site.email %> (<%= site.owner %>)</webMaster>
  <category>Islam</category>
  <category>Hadith</category>
  <pubDate><%= results[0].pubdate.toUTCString() %></pubDate>
  <lastBuildDate><%= results[0].lastmod.toUTCString() %></lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
  <image>
      <url><%= site.logo32 %></url>
      <title><%= page.title_en %></title>
      <link><%= page.canonical %></link>
      <width>32</width>
      <height>32</height>
  </image>
  <% for (i of results) {
    i.title = `${i.en.title || i.book.shortName_en+' '+i.en.num}`;
  %>
    <item>
        <title><%= i.title %></title>
        <link><%= `${site.url}/${i.ref}` %></link>
        <dc:creator><%= site.owner %></dc:creator>
        <pubDate><%= i.pubdate.toUTCString() %></pubDate>
        <guid isPermaLink="false"><%= `${site.url}/${i.ref}` %></guid>
        <category>Islam</category>
        <category>Hadith</category>
        <wfw:commentRss><%= `${site.url}/${i.ref}` %></wfw:commentRss>
        <slash:comments>0</slash:comments>
        <description><![CDATA[
          <%- include('sub-views/rss_item.ejs', { site: site, i: i }); %>
        ]]></description>
        <content:encoded><![CDATA[
          <%- include('sub-views/rss_item.ejs', { site: site, i: i }); %>
        ]]></content:encoded>
    </item>
  <% } %>
</channel>
</rss>
