<?xml version="1.0" encoding="utf-8" standalone="no"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xml:lang="en"><%
  const site = new Object(global.settings.site);
%>
  <title><%= page.title_en %></title>
  <subtitle><%= page.subtitle_en %></subtitle>
  <link rel="alternate" type="text/html" href="<%= page.alternate %>" />
  <updated><%= results[0].lastmod.toISOString() %></updated>
  <icon><%= site.logo32 %></icon>
  <logo><%= site.logo %></logo>
  <id><%= page.canonical %></id>
  <category term="Islam"></category>
  <category term="Hadith"></category>
  <contributor>
    <name><%= site.owner %></name>
    <email><%= site.email %></email>
  </contributor>
  <% for (i of results) {
        i.title = `${i.en.title || i.book.shortName_en+' '+i.en.num}`; 
        var tags = [];
        if (i.tags)
          tags = i.tags.replace(/[{}]/g, '').split(' ');
  %>
    <entry>
      <published><%= i.pubdate.toISOString() %></published>
      <updated><%= i.lastmod.toISOString() %></updated>
      <title><%= i.title %></title>
      <subtitle><%= `#${i.book.alias}${i.en.num} #${tags.join(' #')}` %></subtitle>
      <summary><%- include('sub-views/rss_item.ejs', { site: site, i: i }); %></summary>
      <link rel="alternate" type="text/html" href="<%= `${site.url}/${i.ref}` %>" />
      <id><%= `${site.url}/${i.ref}` %></id>
      <author>
        <name><%= i.book.author %></name>
        <uri><%= `${site.url}/${i.book.alias}` %></uri>
      </author>
      <media:content url="<%= site.logo %>" medium="image" type="image/png" />
      <content:encoded><%- include('sub-views/rss_item.ejs', { site: site, i: i }); %></content:encoded>
      <% for (tag of tags) { %>
        <category term="<%= tag %>" />
      <% } %>
    </entry>
  <% } %>
</feed>
