<?xml version="1.0" encoding="utf-8" standalone="no"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xml:lang="en"><%
  const site = new Object(global.settings.site);
  const page = {
    title_en: `${site.shortName} | Notable Aḥādīth`,
    subtitle_en: 'Recent translations of beautiful and notable aḥādīth',
    alternate: `${site.url}/highlights`,
    canonical: `${site.url}/highlights/feed`,
  };
%>
  <title><%= page.title_en %></title>
  <subtitle><%= page.subtitle_en %></subtitle>
  <link rel="alternate" type="text/html" href="<%= page.alternate %>" />
  <updated><%= results[0].lastmod.toISOString() %></updated>
  <icon><%= site.logo32 %></icon>
  <logo><%= site.logo32 %></logo>
  <id><%= page.canonical %></id>
  <category term="Islam"></category>
  <category term="Hadith"></category>
  <contributor>
    <name><%= site.owner %></name>
    <email><%= site.email %></email>
  </contributor>
  <% for (item of results) { 
        const content = `<figure>
            <img class="type:primaryImage" title="${item.book_shortName_en} ${item.en.num}" src="${site.logo32}" width="32" height="32">
          </figure>
          <article>
            <header><h1>${title}</h1></header>
            <section lang="en">
              <section>
                <div class="chain">${item.en.chain}</div>
                <div class="body"><strong>${item.en.body}</strong></div>
                <footer class="footnote">${item.en.footnote || ''}</footer>
              </section>
              <aside>
                <div class="ref">${item.book_shortName_en} ${item.en.num}</div>
                <div class="grade">${item.en.grade_grade} (${item.en.grader_shortName})</div>
                <div class="source">${item.book_name_en} &gt; ${item.en.h1_title} &gt; ${item.en.h2_title || 'Section'}</div>
              </aside>
            </section>
            <section lang="ar" dir="rtl">
              <section>
                <div class="chain">${item.ar.chain}</div>
                <div class="body"><strong>${item.ar.body}</strong></div>
                <footer class="footnote">${item.ar.footnote || ''}</footer>
              </section>
              <aside>
                <div class="ref">${item.ar.book_shortName} ${item.ar.num}</div>
                <div class="grade">${item.ar.grade_grade} (${item.ar.grader_shortName})</div>
                <div class="source">${item.ar.book_shortName} &gt; ${item.ar.h1_title} &gt; ${item.ar.h2_title || 'مقطع'} </div>
              </aside>
            </section>
          </article>`;
        var tags = [];
        if (item.tags)
          tags = item.tags.replace(/[{}]/g, '').split(' ');
  %>
    <entry>
      <published><%= item.highlight.toISOString() %></published>
      <updated><%= item.lastmod.toISOString() %></updated>
      <title><%= title %></title>
      <subtitle><%= `#${item.book.alias}${item.en.num} #${tags.join(' #')}` %></subtitle>
      <summary><%= item.en.body || '' %></summary>
      <link rel="alternate" type="text/html" href="<%= `${site.url}/${item.ref}` %>" />
      <id><%= `${site.url}/${item.ref}` %></id>
      <author>
        <name><%= item.book.author %></name>
        <uri><%= `${site.url}/${item.book.alias}` %></uri>
      </author>
      <media:content url="<%= site.logo %>" medium="image" type="image/png" />
      <content:encoded type="html"><%= content %></content:encoded><% for (tag of tags) { %>
        <category term="<%= tag %>" />
      <% } %>

    </entry>
  <% } %>
</feed>
