<?xml version="1.0" encoding="utf-8" standalone="no"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/"><%
  const site = new Object(global.settings.site);
  const page = {
    title_en: `${site.shortName} | Notable Aḥādīth`,
    subtitle_en: 'Recent translations of beautiful and notable aḥādīth',
    canonical: '/highlights/rss'
  };
%>
<channel>
  <title><%= page.title_en %></title>
  <link><%= `${site.url}/${page.canonical}` %></link>
  <description><%= page.subtitle_en %></description>
  <language>en-us</language>
  <webMaster><%= site.email %> (<%= site.owner %>)</webMaster>
  <category>Islam</category>
  <category>Hadith</category>
  <pubDate><%= results[0].highlight.toUTCString() %></pubDate>
  <lastBuildDate><%= results[0].highlight.toUTCString() %></lastBuildDate>
  <image>
      <url><%= site.logo %></url>
      <title><%= page.title_en %></title>
      <link><%= `${site.url}/${page.canonical}` %></link>
  </image>
  <% for (item of results) { 
        var title = `${item.en.title || item.book.shortName_en+' '+item.en.num}`;
        const content = `
        <article>
          <img src="${site.logo}" width="32" height=""32">
          <section lang="en">
            <p class="ref">${item.book_shortName_en} ${item.en.num}</p>
            <p>
              <div class="chain">${item.en.chain}</div>
              <div class="body"><strong>${item.en.body}</strong></div>
              <div class="footnote">${item.en.footnote || ''}</div>
            </p>
            <p>
              <div class="grade">${item.en.grade_grade} (${item.en.grader_shortName})</div>
              <div class="source">${item.book_name_en} &gt; ${item.en.h1_title} &gt; ${item.en.h2_title || 'Section'}</div>
            </p>
          </section>
          <section lang="ar" dir="rtl">
            <p class="ref">${item.ar.book_shortName} ${item.ar.num}</p>
            <p>
              <div class="chain">${item.ar.chain}</div>
              <div class="body"><strong>${item.ar.body}</strong></div>
              <div class="footnote">${item.ar.footnote || ''}</div>
            </p>
            <p>
              <div class="grade">${item.ar.grade_grade} (${item.ar.grader_shortName})</div>
              <div class="source">${item.ar.book_shortName} &gt; ${item.ar.h1_title} &gt; ${item.ar.h2_title || 'مقطع'} </div>
            </p>
          </section>
        </article>
        `;
  %>
    <item>
        <title><%= title %></title>
        <link><%= `${site.url}/${item.ref}` %></link>
        <description><%= content %></description>
        <pubDate><%= item.highlight.toUTCString() %></pubDate>
        <guid><%= `${site.url}/${item.ref}` %></guid>
        <category>Islam</category>
        <category>Hadith</category>
        <og xmlns:og="http://ogp.me/ns#">
          <type>article</type>
          <site_name><%= page.title_en %></site_name>
          <title><%= title %></title>
          <url><%= `${site.url}/${item.ref}` %></url>
          <description><%= content %></description>
        </og>
    </item>
  <% } %>
</channel>
</rss>
