<!doctype html>
<html lang="en">

<head> 
<%
    var site = new Object(global.settings.site);
    site.admin = (req.cookies.admin == admin.key);
    site.editMode = (site.admin && req.cookies.editMode == 1);

    var page = {
      menu: 'Home',
      title_en: `${site.name} | ${site.desc}`,
      subtitle_en: 'Home',
      subtitle: null,
      canonical: `/`,
      context: {},
    };
%> 

<%- include('sub-views/head.ejs', { site: site, page: page }); %> 

</head>

<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">
    
    <main class="search-results">

      <form class="form-group" action="/">
        <search class="search container pt-3 mb-3">
          <div class="row justify-content-md-center">
            <div class="col-md-6">
              
              <div class="input-group mb-1">
                <input id="search-bar" name="q" type="text" class="search-bar form-control" placeholder="Search aḥādīth...">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-book"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="b" value="toc" <%= (b.indexOf('toc') >= 0) ? 'checked' : '' %>>
                    <label class="form-check-label">Headings</label>
                  </div>
                  <% global.books.filter(b => {return !b.virtual && !b.hidden;}).forEach(bk => { %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="b" value="<%= bk.alias %>" <%=(b.indexOf(bk.alias) >= 0) ? 'checked' : ''%>>
                    <label class="form-check-label"><%=bk.shortName_en%></label>
                  </div>
                  <% }); %>
                  
                </div>
                <div class="caution partial l2" lang="en">
                  <strong>Caution:</strong>
                  Translations of Quran and Ḥadīth may lead to possible misapplications and misinterpretations.  
                  This site is intended for students of sacred knowledge that are proficient in comprehending 
                  classical Arabic and have a strong foundation in Islamic sciences. Also note that religious 
                  injunctions rely on several aspects beyond what one may glean through reading individual aḥādīth.
                  </footnote>
                </div>
                
              </div>
            </div>
          </div>
        </search>
      </form>
        
      <% if (typeof random !== 'undefined') { %>
        <header class="row">
          <h3 class="col-12 fs-4">Random <%= random.remark==2 ? 'āyah' : 'ḥadīth' %> <a class="text-muted" href="/"><i class="bi bi-arrow-clockwise"></i></a></h3>
        </header>          
        <%- include('sub-views/hadith.ejs', { site: site, page: page, i: random, main: true, title: true, searchResult: false }); %>
        <hr>
      <% } %>

      <header class="row">
        <h3 class="col-12 fs-4">Recent translations of beautiful and notable aḥādīth</h3>
      </header>

      <% for (var i = 0; i < results.length; i++) { %>

        <% if (i == 2) { %>
        <div class="col-12 mt-3 mb-3">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1199080602686133"
            crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
              style="display:block; text-align:center;"
              data-ad-layout="in-article"
              data-ad-format="fluid"
              data-ad-client="ca-pub-1199080602686133"
              data-ad-slot="7623204143"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <% } %>

        <%- include('sub-views/hadith.ejs', { site: site, page: page, i: results[i], main: true, title: true, searchResult: false }); %>

      <% } %>

    </main>
  </div>

<%- include('sub-views/footer.ejs', { site: site, page: page }); %>
<%- include('sub-views/scripts.ejs', { site: site, page: page }); %>

</body>
</html>