<!doctype html>
<html lang="en">
<head>
  <% 
    var name = 'Ḥadīth Unlocked';
    var title = name;
    var url = 'https://hadith.quranunlocked.com';
    var logo = `${url}/images/logo.png`;
    var desc = null;
    var canonical = null;
    var prev = null;
    var next = null;
    if (typeof book != 'undefined') {
      desc = `${book.name_en} ${results[0].num} (${book.name})`;
      title = `${name} | ${desc}`;
      canonical = `${url}/${book.alias}:${results[0].num}`;
    } else if (q) {
      desc = `Search Results for: "${q}"`;
      title = `${name} | ${desc}`;
      canonical = `${url}/?q=${q}`;
    } else {
      canonical = url;
      desc = 'The search engine for Prophetic aḥādith';
      title = `${name} | Search Engine for Prophetic Hadith`;
    }
    if (typeof results != 'undefined' && results.length > 0) {
      if (results[0].prev)
        prev = `${url}/${results[0].book.alias}:${results[0].num}`;
      if (results[results.length-1].next)
        prev = `${url}/${results[results.length-1].book.alias}:${results[results.length-1].num}`;
    }
  %>

  <title><%- title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <link rel="image_src" href="<%= logo %>" />
  <link rel="apple-touch-icon" href="<%= logo %>" />
  <link rel="icon" href="<%= logo %>" />
  <link rel="icon" href="/favicon.ico">

  <link rel="canonical" href="<%= canonical %>" />
  <% if (prev) { %>
  <link rel="prev" href="<%= prev %>" />
  <% } %>
  <% if (next) { %>
    <link rel="next" href="<%= next %>" />
  <% } %>  

  <meta name="og:site_name" content="<%= name %>">
  <meta name="og:locale" content="en">
  <meta name="og:image" content="<%= logo %>">
  <meta name="og:url" content="<%= canonical %>">
  <meta name="og:title" content="<%= title %>">
  <meta name="og:description" content="<%= desc %>">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="<%= logo %>">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= desc %>">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "<%= url %>",
      "logo": "<%= logo %>"
    }
  </script>

  <% if (typeof book != 'undefined') { %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Book",
      "name": "<%= book.name_en %>",
      "inLanguage": "English",
      "url" : "<%= `${url}/${book.alias}:1` %>"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Book",
      "name": "<%= book.name %>",
      "inLanguage": "Arabic",
      "url" : "<%= `${url}/${book.alias}:1` %>"
    }
  </script>
  <% } %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "<%= url %>",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "<%= url %>/?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <% if (typeof book != 'undefined' && results.length > 0) {
    var breadcrumb = `Books &gt; ${book.shortName_en}`; 
    if (results[0].chapter)
      breadcrumb += ` &gt; Chapter ${results[0].chapter.h1}`;
    breadcrumb += ` &gt; Hadith ${results[0].num}`; %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "name": "<%- breadcrumb %>",
      "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Books",
        "item": "<%- `${url}/books` %>"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "<%- book.shortName_en %>",
        "item": "<%- `${url}/${book.alias}` %>"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "<%- `Chapter ${results[0].chapter.h1}` %>",
        "item": "<%- `${url}/${book.alias}/${results[0].chapter.h1}` %>"
      },
      {
        "@type": "ListItem",
        "position": 4,
        "name": "<%- `Hadith ${results[0].num}` %>"
      }]
    }
  </script>
<% } %>
</head>
<body>
  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3">
        <a href="/" class="d-flex text-dark text-decoration-none">
          <img src="/images/logo.svg" width="32" height="32" class="me-2" role="img"><title><%= name %></title>
          <h1 class="fs-4">
            <%= name %>
            <% if (!q && results.length > 0) { %>
              <br/><span class="fs-6 text-muted">
                <%- results[0].book.name_en %>
                <span lang="ar"><%- results[0].book.name %></span>
              </span>
            <% } %>
          </h1>
        </a>
        <nav class="d-inline-flex mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/books">Books</a>
          <a class="py-2 text-dark text-decoration-none" href="/recent">Recent</a>
        </nav>
      </div>
    </header>

    <main class="search-results">

      <div class="mb-2 banner text-center">
        <img src="/images/asam.svg" alt="Allāhumma ṣalli ʿalá Muḥammad" />
      </div>

      <form action="/">
        <div class="container mb-3">
          <div class="row justify-content-md-center">
            <div class="col-md-6">
              <input id="search-bar" name="q" type="text" class="form-control" value="<%= q %>"
                placeholder="Search aḥādīth in English or بالعربية">
            </div>
          </div>
        </div>
      </form>
      
    <% if (results.length != 1 && q) { %>
      <!-- hadith nav -->
      <div class="text-center">
          Found <%= results.length %> results for term: <%=q%>
        </div>
      <% } else if (results.length != 1) { %>
        <div class="text-center">
          Showing <%= results.length %> results
        </div>
      <% } %>

    <% if (results.length > 0) { %> 
    <div class="row mb-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (results[0].prev && results[0].prev.book) {
        var result = results[0]; %>
        &lt;&nbsp;<a href="/<%= result.prev.book.alias %>:<%= result.prev.num %>">Prev:&nbsp;<%= result.prev.book.shortName_en %>&nbsp;<%- result.prev.num %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (results[results.length-1].next && results[results.length-1].next.book) { 
        var result = results[results.length-1]; %>
        <a href="/<%= result.next.book.alias %>:<%= result.next.num %>">Next:&nbsp;<%= result.next.book.shortName_en %>&nbsp;<%- result.next.num %></a>&nbsp;&gt;
        <% } %>  
      </div>
    </div>
    <% } %>
    
    <div class="row">
      <% for (var i = 0; i < results.length; i++) { %>

        <%- include('sub-views/hadith.ejs', { hadith: results[i], title: true }); %>

      <% } %>

    </div>

    <% if (results.length > 1) { %> 
    <!-- hadith search results -->
    <div class="row mt-3 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (results[0].prev && results[0].prev.book) {
        var result = results[0]; %>
        &lt;&nbsp;<a href="/<%= result.prev.book.alias %>:<%= result.prev.num %>">
          Prev:&nbsp;<%= result.prev.book.shortName_en %>&nbsp;<%- result.prev.num %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (results[results.length-1].next && results[results.length-1].next.book) { 
        var result = results[results.length-1]; %>
        <a href="/<%= result.next.book.alias %>:<%= result.next.num %>">
          Next:&nbsp;<%= result.next.book.shortName_en %>&nbsp;<%- result.next.num %></a>&nbsp;&gt;
        <% } %>  
      </div>
    </div>
    <% } %>

    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3c8decddde.js" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>

</body>
</html>