<!doctype html>
<html lang="en">
<head>
<% 
    var root = 'https://hadith.quranunlocked.com';
    var site = {
        name: 'Ḥadīth',
        url: root,
        logo: `${root}/images/logo.png`,
        admin: (req.cookies.admin == admin.key),
    };
    site.editMode = (site.admin && req.cookies.editMode == 1);

    var page = {
        menu: 'Home'
    };
    if (q) {
        page.menu = 'Search';
        page.title_en = `${site.name} | Search Results for [${q}]`;
        page.title = '';
        page.subtitle_en = 'Search Results';
        page.subtitle = '';
    } else if (results.length > 0 && typeof book !== 'undefined') {
        page.canonical = `/${book.alias}:${results[0].num}`;
        page.title_en = `${site.name} | ${book.shortName_en} (${book.shortName}) ${book.alias}:${results[0].num}`;
        if (results[0].title_en)
          page.title_en = `${site.name} | ${book.alias}:${results[0].num} ${results[0].title_en}`;
        page.title = `${book.name} ${results[0].num_ar}`;
        page.subtitle_en = `${book.shortName_en}`;
        page.subtitle = `${book.shortName}`;
    } else {
      page.title_en = `${site.name}`;
      page.title = '';
      page.subtitle_en = 'Home';
      page.subtitle = '';
    }

    var context = {
      fromSearch: (q && q != '')
    };
    if (typeof book !== 'undefined') {
        context.book = book;
    }
    if (typeof chapter !== 'undefined')
        context.chapter = chapter;
    if (results.length > 0) {
        context.chapter = results[0].chapter;
        context.section = results[0].section;
        context.hadiths = results;
        if (results[0].prev)
            page.prev = `${site.url}/${results[0].book.alias}:${results[0].num}`;
        if (results[results.length-1].next)
            page.next = `${site.url}/${results[results.length-1].book.alias}:${results[results.length-1].num}`;
    }
%>

<%- include('sub-views/head.ejs', { site: site, page: page, context: context }); %> 

</head>
<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">

    <main class="search-results">

      <form class="form-group" action="/">
        <div class="search container mb-3">
          <div class="row justify-content-md-center">
            <div class="col-md-6">

              <div class="input-group mb-3">
                <input id="search-bar" name="q" type="text" class="search-bar form-control" value="<%= q %>" placeholder="Search aḥādīth in English or بالعربية ...">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-book"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">

                  <% global.books.filter(b => {return !b.virtual && !b.hidden;}).forEach(bk => { %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="b" value="<%= bk.alias %>" <%=(b.indexOf(bk.alias) >= 0) ? 'checked' : ''%>>
                      <label class="form-check-label"><%=bk.shortName_en%></label>
                    </div>
                    <% }); %>

                </div>
              </div>

            </div>
          </div>
        </div>
      </form>
      
    <% if (results.length != 1 && q) { %>
      <div class="text-center">
          Found <%= results.length %> results for term: <%=q%>
        </div>
      <% } else if (results.length != 1) { %>
        <div class="text-center">
          Showing <%= results.length %> results
        </div>
      <% } %>

    <% if (results.length > 0) { %> 
    <div class="row mb-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (results[0].prev && results[0].prev.book) {
        var result = results[0];
        var hashtag = result.book.alias + result.num; %>
        &lt;&nbsp;<a href="/<%= result.prev.book.alias %>:<%= result.prev.num %>">Prev:&nbsp;<%= result.prev.book.shortName_en %>&nbsp;<%- result.prev.num %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (results[results.length-1].next && results[results.length-1].next.book) { 
        var result = results[results.length-1]; %>
        <a href="/<%= result.next.book.alias %>:<%= result.next.num %>">Next:&nbsp;<%= result.next.book.shortName_en %>&nbsp;<%- result.next.num %></a>&nbsp;&gt;
        <% } %>  
      </div>
    </div>
    <% } %>
    
    <div class="row">
      <% for (var i = 0; i < results.length; i++) { 
        var main = !q; %>

        <% if (!results[i].doctype || results[i].doctype == 'hadith') { %>
          <%- include('sub-views/hadith.ejs', { site: site, hadith: results[i], title: true, main: main, searchResult: q }); %>
        <% } else { %>
          <%- include('sub-views/toc.ejs', { site: site, toc: results[i], title: true, main: main, searchResult: q }); %>
        <% } %>
        <% if (!q && results[i].similar && results[i].similar.length > 0) { %>
        <div class="row similar-list">

          <div class="col-12">
            <h4 class="fs-5">See similar narrations below:</h4>
            <small><a title="أخرجه">Collected by</a>
              <% for (var j = 0; results[i].similarBooks && j < results[i].similarBooks.length; j++) { %>
              <span title="<%- results[i].similarBooks[j].name %>"><%- results[i].similarBooks[j].shortName_en + ((j < results[i].similarBooks.length-1) ? ', ' : '') %></span>
            <% } %> %></small>
          </div>

          <% for (var j = 0; j < results[i].similar.length; j++) { 
            var rating = Math.round((results[i].similar[j].rating - 0.5)*100/50*100/25);
          %>

            <%- include('sub-views/hadith.ejs', { site: site, hadith: results[i].similar[j], main: true, title: true, rating: rating, searchResult: false }); %>

          <% } %>
        </div>
        <% } %>

      <% } %>

    </div>

    <% if (results.length > 1) { %> 
    <!-- hadith search results -->
    <div class="row mt-3 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (results[0].prev && results[0].prev.book) {
        var result = results[0]; %>
        &lt;&nbsp;<a href="/<%= result.prev.book.alias %>:<%= result.prev.num %>">
          Prev:&nbsp;<%= result.prev.book.shortName_en %>&nbsp;<%- result.prev.num %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (results[results.length-1].next && results[results.length-1].next.book) { 
        var result = results[results.length-1]; %>
        <a href="/<%= result.next.book.alias %>:<%= result.next.num %>">
          Next:&nbsp;<%= result.next.book.shortName_en %>&nbsp;<%- result.next.num %></a>&nbsp;&gt;
        <% } %>  
      </div>
    </div>
    <% } %>

    </main>
  </div>

<%- include('sub-views/footer.ejs'); %>
<%- include('sub-views/scripts.ejs', { site: site }); %>

</body>
</html>