<!doctype html>
<html lang="en">

<head>
  <% 
    var site = new Object(global.settings.site);
    if (!locals.noadmin) {
      site.admin = (req.cookies.admin == admin.key);
      site.editMode = (site.admin && req.cookies.editMode == 1);
    } else {
      site.admin = false;
      site.editMode = false;
    }
    
    var page = {
        menu: 'Search'
    };
    if (q) {
        page.menu = 'Search';
        page.title_en = `${site.shortName} | Search Results for [${q}]`;
        page.title = '';
        page.subtitle_en = 'Search Results';
        page.subtitle = '';
    } else if (results.length > 0 && typeof book !== 'undefined') {
        page.canonical = `/${book.alias}:${results[0].num}`;
        page.title_en = `${site.shortName} | ${book.shortName_en} (${book.shortName}) ${book.alias}:${results[0].num}`;
        if (results[0].title_en)
          page.title_en = `${site.shortName} | ${book.alias}:${results[0].num} ${results[0].title_en}`;
        page.title = `${book.name} ${results[0].num_ar}`;
        page.subtitle_en = `${book.shortName_en}`;
        page.subtitle = `${book.shortName}`;
    } else {
      page.title_en = `${site.shortName}`;
      page.title = '';
      page.subtitle_en = 'Home';
      page.subtitle = '';
    }

    page.context = {
      fromSearch: (q && q != '')
    };
    if (typeof book !== 'undefined') {
      page.context.book = book;
    }
    if (typeof chapter !== 'undefined')
      page.context.chapter = chapter;
    if (utils.isFalsey(q) && results.length > 0) {
      page.context.chapter = results[0].chapter;
      page.context.section = results[0].section;
      page.context.hadiths = results;
      if (results[0].prev_ref)
          page.prev = `/${results[0].prev_ref}`;
      if (results[results.length-1].next_ref)
          page.next = `/${results[results.length-1].next_ref}`;
    } else if (results.length > 0) {
      if (results.prev) {
        if (results.prev != '0' && results.prev != 0)
          page.prev = `?q=${q}&b=${b}&o=${results.prev}`;
      }
      if (results.next)
        page.next = `?q=${q}&b=${b}&o=${results.next}`;
    }
%>
  
  <%- include('sub-views/head.ejs', { site: site, page: page }); %>
  
</head>

<body>
  
  <%- include('sub-views/header.ejs', { site: site, page: page }); %>
  
  <div class="container col-lg-8 mx-auto">
    
    <main class="search-results">
      
      <form class="form-group" action="/">
        <search class="search container pt-3 mb-3">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              
              <div class="input-group mb-1">
                <input role="search" id="search-bar" name="q" type="text" class="search-bar form-control" value="<%= q %>" placeholder="Search aḥādīth...">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-book"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="b" value="toc" <%= (b.indexOf('toc') >= 0) ? 'checked' : '' %>>
                    <label class="form-check-label">Headings</label>
                  </div>
                  <% global.books.filter(b => {return !b.virtual && !b.hidden;}).forEach(bk => { %>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="b" value="<%= bk.alias %>" <%=(b.indexOf(bk.alias) >= 0) ? 'checked' : ''%>>
                    <label class="form-check-label"><%=bk.shortName_en%></label>
                  </div>
                  <% }); %>
                  
                </div>
                <div class="caution partial l2" lang="en">
                  <strong>Caution:</strong>
                  Translations of Quran and Ḥadīth may lead to possible misapplications and misinterpretations.  
                  This site is intended for students of sacred knowledge that are proficient in comprehending 
                  classical Arabic and have a strong foundation in Islamic sciences. Also note that religious 
                  injunctions rely on several aspects beyond what one may glean through reading individual aḥādīth.
                  </footnote>
                </div>
                
              </div>
            </div>
          </div>
        </search>
      </form>
      
      <%- include('sub-views/bookNav.ejs'); %> 

      <% if (results.length != 1 && q) { %>
      <div class="text-center">
        Found results for term: [<%=q%>] in <%= b.length > 0 ? `${b.join(', ')}` : 'all books'%>
      </div>
      <% } else if (results.length != 1) { %>
      <div class="text-center">
        Showing <%= results.length %> results
      </div>
      <% } %>
      
      <% if (results.length > 0) { %>
      <div class="row mb-2 pagination">
        <div class="col-md-6 col-xs-12 text-start">
          <% if (page.prev) { %>
          &lt;&nbsp;<a rel="prev" href="<%= page.prev %>" title="<%= page.prev %>">Prev</a>
          <% } %>
        </div>
        <div class="col-md-6 col-xs-12 text-end">
          <% if (page.next) { %>
            <a rel="next" href="<%= page.next %>" title="<%= page.prev %>">Next</a>&nbsp;&gt;
            <% } %>
          </div>
      </div>
      <% } %>
      
        <% for (var i = 0; i < results.length; i++) { 
        var main = !q; %>
        
        <% if (!results[i].doctype || results[i].doctype == 'hadith') { %>
          <%- include('sub-views/hadith.ejs', { site: site, page: page, i: results[i], title: true, main: main, searchResult: q }); %>
        <% } else { %>
          <%- include('sub-views/toc.ejs', { site: site, page: page, toc: results[i], title: true, main: main, searchResult: q }); %>
        <% } %>

        <% if (i == 2) { %>
        <div class="row">
          <div class="col" id="ms-ad-874543718"></div> 
          <script> 
            window.msAdsQueue.push(() => { 
              window.pubCenterSdk.render({ 
                adUnitId: "874543718", 
                elementId: "ms-ad-874543718" 
              }); 
            }); 
          </script>
        </div>
        <% } %>

        <% if (!q && results[i].similar && results[i].similar.length > 0) { %>
        <div class="row similar-list">
          
          <hr>
          <div class="col-12">
            <h4 class="fs-5">See similar narrations below:</h4>
            <small><a title="أخرجه">Collected by</a>
              <% for (var j = 0; results[i].similarBooks && j < results[i].similarBooks.length; j++) { %>
              <span title="<%- results[i].similarBooks[j].name %>"><%- results[i].similarBooks[j].shortName_en + ((j < results[i].similarBooks.length-1) ? ', ' : '') %></span>
              <% } %> %></small>
          </div>
          
          <div class="col-12">
          <% for (var j = 0; j < results[i].similar.length; j++) { 
            results[i].similar[j].rating = Math.round((results[i].similar[j].rating - 0.5)*100/50*100/25);
          %>
          
          <%- include('sub-views/hadith.ejs', { site: site, page: page, i: results[i].similar[j], main: true, title: true, searchResult: false }); %>
          
          <% } %>
          </div>
          
        </div>
        <% } %>
        
        <% } %>
        
      <% if (results.length > 0) { %>
      <div class="row mb-2 pagination">
        <div class="col-md-6 col-xs-12 text-start">
          <% if (page.prev) { %>
          &lt;&nbsp;<a rel="prev" href="<%= page.prev %>" title="<%= page.prev %>">Prev</a>
          <% } %>
        </div>
        <div class="col-md-6 col-xs-12 text-end">
          <% if (page.next) { %>
            <a rel="next" href="<%= page.next %>" title="<%= page.prev %>">Next</a>&nbsp;&gt;
            <% } %>
          </div>
      </div>
      <% } %>
      
    </main>
  </div>
  
  <%- include('sub-views/footer.ejs', { site: site, page: page }); %>
  <%- include('sub-views/scripts.ejs', { site: site, page: page }); %>
  
</body>

</html>