<!doctype html>
<html lang="en">

<head>
  <% 
    var site = new Object(global.settings.site);
    if (!locals.noadmin) {
      site.admin = (req.cookies.admin == admin.key);
      site.editMode = (site.admin && req.cookies.editMode == 1);
    } else {
      site.admin = false;
      site.editMode = false;
    }
    
    var book = section.book;
    var chapter = section.chapter;    
    var page = {
      menu: 'Section',
      title_en: `${site.shortName} | ${book.shortName_en} ยง${section.h1}.${section.h2} ${section.title_en || section.title}`,
      subtitle_en: `${book.shortName_en}`,
      subtitle: `${book.shortName}`,
      canonical: `/${book.alias}/${chapter.h1}/${section.h2}?passage`,
      context: {
        book: book,
        chapter: chapter,
        section: section,
        heading: section,
        continued: false
      }
    };
  %>
  
  <%- include('sub-views/head.ejs', { site: site, page: page }); %>
  
</head>

<body>
  
  <%- include('sub-views/header.ejs', { site: site, page: page }); %>
  
  <div class="container col-lg-8 mx-auto">
    
    <main class="chapter mt-10">
      
      <%- include('sub-views/pagination.ejs', { site: site, page: page }); %>
      
      <%- include('sub-views/chapterTitle.ejs', { site: site, page: page }); %>
      
      <% if (results.length > 0) { %>
        <%- include('sub-views/heading.ejs', { site: site, page: page, heading: results[0].heading }); %>
      <% } %>
                          
      <%- include('sub-views/quran.ejs', { site: site, page: page, passage: results, main: false, title: false, searchResult: false }); %>
      
      <% if (results.length == 0 || !results[0].id) { %>
        <footer class="col-12">
          <p>This is an empty section.</p>
        </footer>
      <% } %>
            
      <%- include('sub-views/pagination.ejs', { site: site, page: page }); %>
      
    </main>
  </div>
  
  <%- include('sub-views/footer.ejs', { site: site, page: page }); %>
  <%- include('sub-views/scripts.ejs', { site: site, page: page }); %>
  
</body>

</html>