<!doctype html>
<html lang="en">

<head>
  <% 
    var book = section.book;
    var chapter = section.chapter;

    var root = 'https://hadith.quranunlocked.com';
    var site = {
      name: 'Ḥadīth',
      url: root,
      logo: `${root}/images/logo.png`,
      admin: (req.cookies.admin == admin.key),
    };
    site.editMode = (site.admin && req.cookies.editMode == 1);
    
    var page = {
      menu: 'Section',
      title_en: `${site.name} | ${book.shortName_en}, ${section.title_en || section.title} §${section.h1}.${section.h2}`,
      subtitle_en: `${book.shortName_en}`,
      subtitle: `${book.shortName}`,
      canonical: `/${book.alias}/${chapter.h1}`,
      context: {
        book: book,
        chapter: chapter,
        section: section,
        heading: section,
        continued: false
      }
    };
  %>
  
  <%- include('sub-views/head.ejs', { site: site, page: page }); %>
  
</head>

<body>
  
  <%- include('sub-views/header.ejs', { site: site, page: page }); %>
  
  <div class="container col-lg-8 mx-auto">
    
    <main class="chapter mt-10">
      
      <%- include('sub-views/pagination.ejs', { site: site, page: page }); %>
      
      <%- include('sub-views/chapterTitle.ejs', { site: site, page: page }); %>
      
      <div class="row">
        
        <%
        var lastPath = -1;
        var n = -1;
        for (var item of results) {
          n++;
          var showHeading = (item.path != lastPath && item.heading.level > 1); 
          lastPath = item.path;
        %>
        
        <% if (n === 0 && item.heading.level === 3) {
             page.context.continued = true; %>
        <%- include('sub-views/heading.ejs', { site: site, page: page, heading: section }); %>
        <% 
             page.context.continued = false;
           } else {
             page.context.continued = false;
           } %>
        
        <% if (showHeading) { %>
        <%- include('sub-views/heading.ejs', { site: site, page: page, heading: item.heading }); %>
        <% } %>
        
        <%- include('sub-views/hadith.ejs', { site: site, page: page, hadith: item, main: false, title: false, searchResult: false }); %>
        
        <% } %>
        
      </div>
      
      <%- include('sub-views/pagination.ejs', { site: site, page: page }); %>
      
    </main>
  </div>
  
  <%- include('sub-views/footer.ejs'); %>
  <%- include('sub-views/scripts.ejs', { site: site }); %>
  
</body>

</html>