<!doctype html>
<html lang="en">

<head> 
<%
    var root = 'https://hadith.quranunlocked.com';
    var site = {
      name: 'Ḥadīth',
      url: root,
      logo: `${root}/images/logo.png`,
      admin: (req.cookies.admin == admin.key),
    };
    site.editMode = (site.admin && req.cookies.editMode == 1);
    
    var subtitle_en = `${tag.join('+')}`;
    var page = {
      menu: 'Tag',
      title_en: `${site.name} | Aḥādith with tags ${subtitle_en}`,
      subtitle_en: subtitle_en,
      subtitle: null,
      canonical: `/tag/${tag.join('+')}`,
      context: {}
    };
    if (results.offset) {
      page.canonical += `?o=${results.offset}`;
      if (results.pg && results.pg > 1)
        page.title_en += ` P${results.pg}`;
    }
    if (results.hasPrev)
      page.prev = `/tag/${tag.join('+')}?o=${results.prevOffset}`;
    if (results.hasNext)
      page.next = `/tag/${tag.join('+')}?o=${results.nextOffset}`;
%>

<%- include('sub-views/head.ejs', { site: site, page: page }); %> 

</head>

<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">
    
    <main class="search-results">

      <div class="row mb-2 pagination">
        <div class="col-md-6 col-xs-12 text-start">
          <% if (page.prev) { %>
          &lt;&nbsp;<a href="<%- page.prev %>" rel="prev">Prev:&nbsp;Page</a>
          <% } %>
        </div>
        <div class="col-md-6 col-xs-12 text-end">
          <% if (page.next) { %>
            <a href="<%- page.next %>" rel="next">Next:&nbsp;Page</a>&nbsp;&gt;
          <% } %>
        </div>
      </div>

      <div class="row"> 

        <h2 class="col-md-12 col-sm-12 fs-5 title" lang="en">
          <span class="_e" data-id="<%=tag.id%>" data-prop="tags.description"><%- `${('#'+tag.join(' #'))}` %></span>
          <% if (results.hasNext || results.pg && results.pg > 1) { %>
            (<%- results.pg %>/<%- Math.ceil(count / global.settings.search.itemsPerPage) %>)
          <% } %>
        </h2>

        <% for (var i = 0; i < results.length; i++) { %>

          <%- include('sub-views/hadith.ejs', { site: site, page: page, i: results[i], main: false, title: true, searchResult: false }); %>

        <% } %>

      </div>

      <div class="row mb-2 pagination">
        <div class="col-md-6 col-xs-12 text-start">
          <% if (page.prev) { %>
          &lt;&nbsp;<a href="<%- page.prev %>" rel="prev">Prev:&nbsp;Page</a>
          <% } %>
        </div>
        <div class="col-md-6 col-xs-12 text-end">
          <% if (page.next) { %>
            <a href="<%- page.next %>" rel="next">Next:&nbsp;Page</a>&nbsp;&gt;
          <% } %>
        </div>
      </div>

    </main>
  </div>

<%- include('sub-views/footer.ejs'); %>
<%- include('sub-views/scripts.ejs', { site: site }); %>

</body>
</html>