<!doctype html>
<html lang="en">

<head>
  <%
    var site = new Object(global.settings.site);
    site.admin = (req.cookies.admin == admin.key);
    site.editMode = (site.admin && req.cookies.editMode == 1);
    
    var page = {
      menu: 'Books',
      title_en: `${site.name} | Contents of ${book.shortName_en} (فهرس ${book.shortName})`,
      subtitle_en: `${book.shortName_en}`,
      subtitle: `${book.shortName}`,
      canonical: `/${book.alias}`,
      context: {
        book,
      }
    };
    if (typeof prevBook != 'undefined' && prevBook)
        page.prev = `/${prevBook.alias}`;
    if (typeof nextBook != 'undefined' && nextBook)
        page.next = `/${nextBook.alias}`;
%>
  
  <%- include('sub-views/head.ejs', { site: site, page: page }); %>
  
</head>

<body>
  
  <%- include('sub-views/header.ejs', { site: site, page: page }); %>
  
  <div class="container col-lg-8 mx-auto">
    
    <main class="toc">
      
      <%- include('sub-views/bookNav.ejs'); %> 
    
      <aside class="row mb-2 pagination">
        <div class="col-md-6 col-xs-12 text-start">
          <% if (page.prev) { %>
          &lt;&nbsp;<a href="<%- page.prev %>">Prev:&nbsp;<%= prevBook.shortName_en %></a>
          <% } %>
        </div>
        <div class="col-md-6 col-xs-12 text-end">
          <% if (page.next) { %>
          <a href="<%- page.next %>">Next:&nbsp;<%= nextBook.shortName_en %></a>&nbsp;&gt;
          <% } %>
        </div>
      </aside>

      <article>
      <heading class="mb-2">
        <div class="row text-center justify-content-center">
          <h2 class="_e fs-3" title="<%- book.name %>" data-id="<%=book.id%>" data-prop="book.name_en" data-arabizi="true"><%- book.name_en %></h2>
          <h2 class="_e fs-3" title="<%- book.name_en %>" data-id="<%=book.id%>" data-prop="book.name"><%- book.name %></h2>
          <% if (site.editMode) { %>
          <h3>
            <span class="_e fs-5" data-id="<%=book.id%>" data-prop="book.shortName_en" data-arabizi="true"><%- book.shortName_en %></span>
            <span class="_e fs-5" data-id="<%=book.id%>" data-prop="book.shortName"><%- book.shortName %></span>
          </h3>
          <% } %>
        </div>
      </heading>
      
      <section>
        <p class="_e mb-1" data-id="<%=book.id%>" data-prop="book.description"><%- book.description %></p>
      </section>

      <% if (book.id > 0) { %>
      <section><small>
          Author: <span class="_e" data-id="<%=book.id%>" data-prop="book.author"><%- book.author %></span>
          (d. <span class="_e" data-id="<%=book.id%>" data-prop="book.yearOfDeath"><%- book.yearOfDeath %></span> H)
        </small></section>
      <% } %>

      <% if (typeof random !== 'undefined') { %>
        <hr class="mt-3">
        <header class="row">
          <h3 class="col-12 fs-4">Random <%= random.remark==2 ? 'āyah' : 'ḥadīth' %> in <%- book.shortName_en %> <a class="text-muted" href="<%= page.canonical %>"><i class="bi bi-arrow-clockwise"></i></a></h3>
        </header>
        <%- include('sub-views/hadith.ejs', { site: site, page: page, i: random, main: true, title: true, searchResult: true }); %>
        <hr>
      <% } %>

      <section class="row">
        
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "Table",
            "name": "<%- `Chapters Headings for ${book.name_en} (فهرس ${book.name})` %>",
            "about": "<%- `Chapters Headings for ${book.name_en} (فهرس ${book.name})` %>"
          }
        </script>
        
        <h2 class="fs-4 mt-3">Chapters Headings</h2>
        
        <table id="toc" class="table" title="<%- `Chapters Headings for ${book.name_en} (فهرس ${book.name})` %>">
          <tbody>
            <%
        for (var i = 0; i < toc.length; i++) {
          var title_en = '';
          if (toc[i].title_en) title_en = toc[i].title_en.substring(0, 75);
          if (toc[i].title_en && toc[i].title_en.length > 75) title_en += '&hellip;';

          var title = '';
          if (toc[i].title) title = toc[i].title.substring(0, 150);
          if (toc[i].title && toc[i].title.length > 150) title += '&hellip;';

          if (toc[i].level == 2) {
          %>
            <!-- tr class="title">
            <td><%- toc[i].start %></td>
            <td><%- toc[i].h1 %>.<%- toc[i].h2 %></td>
            <% if (toc[i].start) { %>
              <td><a href="/<%- `${book.alias}/${toc[i].h1}#${toc[i].start}` %>" class="_e" data-id="<%=toc[i].id%>" data-prop="toc.title_en" data-arabizi="true"><%- title_en || 'Section' %></a></td>
              <td lang="ar"><a href="/<%- `${book.alias}/${toc[i].h1}#${toc[i].start}` %>" class="_e" data-id="<%=toc[i].id%>" data-prop="toc.title"><%- title %></a></td>
            <% } else { %>
              <td class="_e" data-id="<%=toc[i].id%>" data-prop="toc.title_en" data-arabizi="true"><%- title_en %></td>
            <td lang="ar" class="_e" data-id="<%=toc[i].id%>" data-prop="toc.title"><%- title %></td>
            <% } %>
            </tr -->
            <% 
          } else { 
          %>
            <tr class="chapter">
              <td><%- toc[i].start %></td>
              <td>C<%- toc[i].h1 %></td>
              <% if (toc[i].start) { %>
              <td><a href="/<%- `${toc[i].firstSection ? toc[i].firstSection.path : toc[i].path}` %>" class="_e" data-id="<%=toc[i].id%>" data-prop="toc.title_en" data-arabizi="true"><%- title_en || 'Chapter' %></a></td>
              <td lang="ar"><a href="/<%- `${toc[i].firstSection ? toc[i].firstSection.path : toc[i].path}` %>" class="_e" data-id="<%=toc[i].id%>" data-prop="toc.title"><%- title %></a></td>
              <% } else { %>
              <td class="_e" data-id="<%=toc[i].id%>" data-prop="toc.title_en" data-arabizi="true"><%- title_en %></td>
              <td lang="ar" class="_e" data-id="<%=toc[i].id%>" data-prop="toc.title"><%- title %></td>
              <% } %>
            </tr>
            <%
          }
        }
        %>
          </tbody>
        </table>
      </section>
      </article>
      
      <aside class="row mt-2 pagination">
        <div class="col-md-6 col-xs-12 text-start">
          <% if (page.prev) { %>
          &lt;&nbsp;<a href="<%- page.prev %>">Prev:&nbsp;<%= prevBook.shortName_en %></a>
          <% } %>
        </div>
        <div class="col-md-6 col-xs-12 text-end">
          <% if (page.next) { %>
          <a href="<%- page.next %>">Next:&nbsp;<%= nextBook.shortName_en %></a>&nbsp;&gt;
          <% } %>
        </div>
      </aside>
      
    </main>
  </div>
  
  <%- include('sub-views/footer.ejs', { site: site, page: page }); %>
  <%- include('sub-views/scripts.ejs', { site: site, page: page }); %>
  
</body>

</html>