<!doctype html>
<html lang="en">
<head>
  <% 
    var name = 'Ḥadīth Unlocked';
    var url = 'https://hadith.quranunlocked.com';
    var logo = `${url}/images/logo.png`;
    var desc = `Table of Contents of ${book.name_en} (فهرس ${book.name})`;
    var title = `${name} | ${desc}`;
    var canonical = `${url}/${book.alias}`;
    var prev = null;
    var next = null;
    if (typeof prevBook != 'undefined' && prevBook)
      prev = `${url}/${prevBook.alias}`;
    if (typeof nextBook != 'undefined' && nextBook)
      next = `${url}/${nextBook.alias}`;
  %>

  <title><%- title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <link rel="canonical" href="<%= canonical %>" />
  <% if (prev) { %>
  <link rel="prev" href="<%= prev %>" />
  <% } %>
  <% if (next) { %>
    <link rel="next" href="<%= next %>" />
  <% } %>  

  <meta name="og:site_name" content="<%= name %>">
  <meta name="og:locale" content="en">
  <meta name="og:image" content="<%= logo %>">
  <meta name="og:url" content="<%= canonical %>">
  <meta name="og:title" content="<%= title %>">
  <meta name="og:description" content="<%= desc %>">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="<%= logo %>">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= desc %>">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "<%= name %>",
      "url": "<%= url %>",
      "logo": "<%= logo %>"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "<%= name %> Search Action",
      "url": "<%= url %>",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "<%= url %>/?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Book",
      "name": "<%= book.name_en %>",
      "inLanguage": "English",
      "url" : "<%= `${url}/${book.alias}` %>"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Book",
      "name": "<%= book.name %>",
      "inLanguage": "Arabic",
      "url" : "<%= `${url}/${book.alias}` %>"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "name": "Books &gt; <%- book.shortName_en %>",
      "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Books",
        "item": "<%- `${url}/books` %>"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "<%- book.shortName_en %>"
      }]
    }
  </script>
</head>
<body>
  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3">
        <a href="/" class="d-flex text-dark text-decoration-none">
          <img src="/images/logo.svg" width="32" height="32" class="me-2" role="img"><title><%= name %></title>
          <h1 class="fs-4">
            <%= name %><br/>
            <span class="fs-6 text-muted">
                <%- book.name_en %>
                <span lang="ar"><%- book.name %></span>
            </span>
          </h1>
        </a>
        <nav class="d-inline-flex mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/books">Books</a>
          <a class="py-2 text-dark text-decoration-none" href="/recent">Recent</a>
        </nav>
      </div>
    </header>

    <main class="toc">

    <div class="container mb-3">
      <div class="row text-center justify-content-center">
        <h2 class="fs-3"><%- book.name_en %></h2>
      </div>
    </div>

    <div class="container mb-3">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <input id="search-bar" type="text" class="form-control" placeholder="Filter table of contents...">
        </div>
      </div>
    </div>

    <div class="row mb-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (prev) { %>
        &lt;&nbsp;<a href="/<%- prevBook.alias %>">Prev:&nbsp;<%= prevBook.shortName_en %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (next) { %>
          <a href="/<%- nextBook.alias %>">Next:&nbsp;<%= nextBook.shortName_en %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>
    
    <div class="row">
      <table id="toc" class="table">
        <tbody>
        <%
        for (var i = 0; i < toc.length; i++) {

          var title_en = '';
          if (toc[i].title_en) title_en = toc[i].title_en.substring(0, 75);
          if (toc[i].title_en && toc[i].title_en.length > 75) title_en += '&hellip;';

          var title = '';
          if (toc[i].title) title = toc[i].title.substring(0, 150);
          if (toc[i].title && toc[i].title.length > 150) title += '&hellip;';

          if (toc[i].level > 1) {
          %>
            <tr class="title">
            <td><%- toc[i].start0 %></td>
            <td><%- toc[i].h1 %>.<%- toc[i].h2 %></td>
            <% if (toc[i].start) { %>
              <td><a href="/<%- `${book.alias}/${toc[i].h1}#${toc[i].start}` %>"><%- title_en || 'Section' %></a></td>
              <td lang="ar"><a href="/<%- `${book.alias}/${toc[i].h1}#${toc[i].start}` %>"><%- title %></a></td>
            <% } else { %>
              <td><%- title_en %></td>
            <td lang="ar"><%- title %></td>
            <% } %>
            </tr>
          <% 
          } else { 
          %>
            <tr class="chapter">
            <td><%- toc[i].start0 %></td>
            <td>C<%- toc[i].h1 %></td>
            <% if (toc[i].start) { %>
              <td><a href="/<%- `${book.alias}/${toc[i].h1}` %>"><%- title_en || 'Chapter' %></a></td>
              <td lang="ar"><a href="/<%- `${book.alias}/${toc[i].h1}` %>"><%- title %></a></td>
            <% } else { %>
              <td><%- title_en %></td>
              <td lang="ar"><%- title %></td>
            <% } %>
            </tr>
        <%
          }
        }
        %>
        </tbody>
      </table>
    </div>

    <div class="row mt-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (prev) { %>
        &lt;&nbsp;<a href="/<%- prevBook.alias %>">Prev:&nbsp;<%= prevBook.shortName_en %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (next) { %>
          <a href="/<%- nextBook.alias %>">Next:&nbsp;<%= nextBook.shortName_en %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>
    
    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/3c8decddde.js" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>

</body>
</html>