<!doctype html>
<html lang="en">
<head>
  <%
    var root = 'https://hadith.quranunlocked.com';
    var site = {
      name: 'Ḥadīth Unlocked',
      url: root,
      logo: `${root}/images/logo.png`,
    };
    
    var page = {
      menu: 'Books',
      title_en: `Table of Contents of ${book.name_en} (فهرس ${book.name})`,
      subtitle_en: `${book.shortName_en}`,
      subtitle: `${book.shortName}`,
      canonical: `/${book.alias}`,
    };
    if (typeof prevBook != 'undefined' && prevBook)
        page.prev = `/${prevBook.alias}`;
    if (typeof nextBook != 'undefined' && nextBook)
        page.next = `/${nextBook.alias}`;

    var context = {
        book: book
    }
%>

<%- include('sub-views/head.ejs', { site: site, page: page, context: context }); %> 

</head>
<body>

  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

    <main class="toc">

    <div class="row mb-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (page.prev) { %>
        &lt;&nbsp;<a href="<%- page.prev %>">Prev:&nbsp;<%= prevBook.shortName_en %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (page.next) { %>
          <a href="<%- page.next %>">Next:&nbsp;<%= nextBook.shortName_en %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>

    <div class="container mb-2">
      <div class="row text-center justify-content-center">
        <h2 class="fs-3" title="<%- book.name %>"><%- book.name_en %></h2>
        <h2 class="fs-3" title="<%- book.name_en %>"><%- book.name %></h2>
      </div>
    </div>

    <p class="mb-1"><%- book.description %></p>
    <% if (book.id > 0) { %>
      <div><small>Author: <%- book.author %> (d. <%- book.yearOfDeath %>H)</small></div>
    <% } %>
  
    <div class="row">

      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Table",
          "name" : "<%- `Chapters Headings for ${book.name_en} (فهرس ${book.name})` %>",
          "about": "<%- `Chapters Headings for ${book.name_en} (فهرس ${book.name})` %>"
        }
      </script>

      <h3 class="fs-5 mt-3">Chapters Headings</h3>

      <table id="toc" class="table" title="<%- `Chapters Headings for ${book.name_en} (فهرس ${book.name})` %>">
        <tbody>
        <%
        for (var i = 0; i < toc.length; i++) {

          var title_en = '';
          if (toc[i].title_en) title_en = toc[i].title_en.substring(0, 75);
          if (toc[i].title_en && toc[i].title_en.length > 75) title_en += '&hellip;';

          var title = '';
          if (toc[i].title) title = toc[i].title.substring(0, 150);
          if (toc[i].title && toc[i].title.length > 150) title += '&hellip;';

          if (toc[i].level == 2) {
          %>
            <!-- tr class="title">
            <td><%- toc[i].start %></td>
            <td><%- toc[i].h1 %>.<%- toc[i].h2 %></td>
            <% if (toc[i].start) { %>
              <td><a href="/<%- `${book.alias}/${toc[i].h1}#${toc[i].start}` %>"><%- title_en || 'Section' %></a></td>
              <td lang="ar"><a href="/<%- `${book.alias}/${toc[i].h1}#${toc[i].start}` %>"><%- title %></a></td>
            <% } else { %>
              <td><%- title_en %></td>
            <td lang="ar"><%- title %></td>
            <% } %>
            </tr -->
          <% 
          } else { 
          %>
            <tr class="chapter">
            <td><%- toc[i].start %></td>
            <td>C<%- toc[i].h1 %></td>
            <% if (toc[i].start) { %>
              <td><a href="/<%- `${book.alias}/${toc[i].h1}` %>"><%- title_en || 'Chapter' %></a></td>
              <td lang="ar"><a href="/<%- `${book.alias}/${toc[i].h1}` %>"><%- title %></a></td>
            <% } else { %>
              <td><%- title_en %></td>
              <td lang="ar"><%- title %></td>
            <% } %>
            </tr>
        <%
          }
        }
        %>
        </tbody>
      </table>
    </div>

    <div class="row mt-2 pagination">
      <div class="col-md-6 col-xs-12 text-start">
        <% if (page.prev) { %>
        &lt;&nbsp;<a href="<%- page.prev %>">Prev:&nbsp;<%= prevBook.shortName_en %></a>
        <% } %>
      </div>
      <div class="col-md-6 col-xs-12 text-end">
        <% if (page.next) { %>
          <a href="<%- page.next %>">Next:&nbsp;<%= nextBook.shortName_en %></a>&nbsp;&gt;
        <% } %>
      </div>
    </div>
    
    </main>
  </div>

<%- include('sub-views/footer.ejs'); %>
<%- include('sub-views/scripts.ejs'); %>

</body>
</html>