<% res.cookie('admin', admin.key, {
  expires: new Date(Date.now() + 86400000 * 365 * 20)
}); %>
<!doctype html>
<html lang="en">

<head> 
<%
    var site = new Object(global.settings.site);
    site.admin = (req.cookies.admin == admin.key);
    site.editMode = (site.admin && req.cookies.editMode == 1);
        
    var subtitle_en = `Transliteration`;
    var page = {
      menu: 'Recent',
      title_en: `${site.name} | ALA-LC Arabic Transliteration`,
      subtitle_en: subtitle_en,
      subtitle: null,
      canonical: '/',
      context: {}
    };
%> 

<%- include('sub-views/head.ejs', { site: site, page: page }); %> 

</head>

<body>

  <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

  <div class="container col-lg-8 mx-auto">
    
    <main class="search-results">

      <h2>ALA-LC Arabic and Ḥadīth Chain Transliteration </h2>
      <div class="mb-3">
      <form action=""/>
      <textarea placeholder="Arabic" 
        name="s" rows="5" cols="80" style="direction: rtl; font-size: 16pt; font-family: Arial, Helvetica, sans-serif;"><%- utils.emptyIfNull(s) %></textarea><br />
      <input type="submit">
      </form>
      </div>

      <% if (alalc) { %>
        <h3>ALA-LC Transliteration:</h3>
        <p><%- alalc %></p>
      <% } %>

      <% if (trans) { %>
      <h3>Chains:</h3>
      <ul>
      <% if (trans.chain_en) {
        for (var i = 0; i < trans.chain_en.length; i++) { %>
          <li><%- trans.chain_en[i] %></li>
      <% }
      } %>
      </ul>

      <h3>Narrators:</h3>
      <ul>
      <% if (trans.narrators) {
        for (var i = 0; i < trans.narrators.length; i++) {
          var narrators = trans.narrators[i];
          for (var j = 0; j < narrators.length; j++) { %>
            <li><%- narrators[j] %></li>
      <%  }
        }
      } %>
      </ul>

      <% } %>

  </main>
</div>

<%- include('sub-views/footer.ejs', { site: site, page: page }); %>
<%- include('sub-views/scripts.ejs', { site: site, page: page }); %>

</body>
</html>